<div class="page-header">
	<h2>消息通知</h2>
</div>
<ul id="myTab" class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a role="tab" tabid="t1"
		data-toggle="tab">消息</a></li>
	<!-- <li role="presentation"><a role="tab" tabid="t2" data-toggle="tab">通知</a></li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content messagetab">
	<div role="tabpanel" tcid="t1" class="tab-pane active" id="home">
		<!-- <table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>名称</th>
					<th>描述</th>
					<th>创建时间</th>
					<th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in messages">
					<td ng-bind="v.id"></td>
					<td ng-bind="v.id">{{v.title}}</td>
					<td ng-bind="v.id">{{v.content}}</td>
					<td ng-bind="v.id">{{v.created_at}}</td>
				</tr>
			</tbody>
		</table> -->
		<!--  ng-repeat="msg in messages"> -->
		<div>
			<div class="message" ng-repeat="msg in messages">
				<div class="row">
					<div class="messagebox">
						<div class="col-md-1">	
						<img alt="{{msg.from.username}}" class="avatar" height="48"
								src="http://api.tongjo.com/files/{{msg.from.avatar}}" width="48">	
						</div>
						<div class="col-md-8">
							<a ng-bind="msg.title|defaultTitle" ng-click="slideReplies($event)">无标题</a>
						</div>
						<div class="col-md-3" ng-bind="msg.created_at"></div>
					</div>
				</div>
				<div class="moreReplies" style="display: none">
					<div class="commentbox">
							<div class="avatarbox pull-left">
								<img alt="{{msg.from.username}}" class="avatar"
									height="48" src="http://api.tongjo.com/files/{{msg.from.avatar}}" width="48">
							</div>
							<div class="comment">
								<div class="comment-header">
									<strong> <a href="/userinfodetail/{{msg.from.id}}"
										class="author" ng-bind="msg.from.realname"></a>
									</strong> 发表于 <span ng-bind="msg.created_at"></span>
								</div>
								<div class="comment-content">
									<p class="text-muted" ng-bind="msg.content">No
										description provided.</p>
								</div>
							</div>
						</div>
						<div class="commentbox" ng-repeat="reply in msg.replies">
							<div class="avatarbox pull-left">
								<img alt="{{reply.user.avatar}}" class="avatar"
									height="48" src="http://api.tongjo.com/files/{{reply.user.avatar}}" width="48">
							</div>
							<div class="comment">
								<div class="comment-header">
									<strong> <a href="/userinfodetail/{{reply.user.id}}"
										class="author" ng-bind="reply.user.realname"></a>
									</strong> 发表于 <span ng-bind="reply.updated_at"></span>
								</div>
								<div class="comment-content">
									<p class="text-muted" ng-bind="reply.content">No
										description provided.</p>
								</div>
							</div>
						</div>
						<div class="commentbox">
						<div class="avatarbox pull-left">
							<img alt="{{user.realname}}" class="avatar"
								height="48" src="http://api.tongjo.com/files/{{user.avatar}}" width="48">
						</div>
						<div class="inputcommentbox">
							<form role="form" name="commentForm"
								ng-submit="reply(commentForm,msg)">
								<div class="form-group">
									<textarea name="comment" ng-model="comment" placeholder="回复消息"
										rows="3" required></textarea>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary">回复</button>
								</div>
							</form>
						</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div role="tabpanel" tcid="t2" class="tab-pane" id="profile">
		<!--<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>名称</th>
					<th>描述</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in notices">
					<td>{{v.id}}</td>
					<td>{{v.title}}</td>
					<td>{{v.content}}</td>
					<td>{{v.created_at}}</td>
				</tr>
			</tbody>
		</table>-->
		<div class="container－fluid ">
		<div class="notify" ng-repeat="notification in notifications">
				<div class="row">
					<div class="messagebox">
						<div class="col-md-8">
							<a ng-bind="notification.title" ng-click="slidedetail($event)"></a>
						</div>
						<div class="col-md-3" ng-bind="notification.created_at"></div>
						<div class="col-md-1">		
						<div>		
						<a tooltip="标记为已读!" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true" ng-show = "!notification.isRead" ng-click="checkNotification(notification,notification.id)"><span class="glyphicon glyphicon-ok"></span></a>
						</div>
						</div>

					</div>
				</div>
				<div class="moreDetail" style="display: none">
				<div class="detailbox">
					<p ng-bind="notification.content"></p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#myTab a').click(function(e) {
		e.preventDefault();
		var p = $(this).attr("tabid");
		$("[tcid=" + p + "]").siblings().removeClass("active");
		$("[tcid=" + p + "]").addClass("active");
	});
</script>