<div class="page-header">
	<h2>消息通知</h2>
</div>
<ul id="myTab" class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a role="tab" tabid="t1"
		data-toggle="tab">消息</a></li>
	<li role="presentation"><a role="tab" tabid="t2" data-toggle="tab">通知</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content messagetab">
	<div role="tabpanel" tcid="t1" class="tab-pane active" id="home">
		<!-- <table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>名称</th>
					<th>描述</th>
					<th>创建时间</th>
					<th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in messages">
					<td ng-bind="v.id"></td>
					<td ng-bind="v.id">{{v.title}}</td>
					<td ng-bind="v.id">{{v.content}}</td>
					<td ng-bind="v.id">{{v.created_at}}</td>
				</tr>
			</tbody>
		</table> -->
		<!--  ng-repeat="msg in messages"> -->
		<div>
			<div class="message" ng-repeat="msg in messages">
				<div class="submessage">
					<div class="commentbox">
						<div class="avatarbox pull-left">
							<img alt="{{msg.comments[0].owener.username}}" class="avatar"
								data-user="219689" height="48"
								src="{{msg.comments[0].owner.avatarlink}}" width="48">
						</div>
						<div class="comment">
							<div class="comment-header">
								<strong> <a href="/user:{{msg.comments[0].owner.id}}"
									class="author" ng-bind="msg.comments[0].owener.username"></a>
								</strong> 发表于 <span ng-bind="msg.comments[0].timestamp"></span> <a
									class="pull-right" ng-click="slidemsg($event)">显示全部</a>
							</div>
							<div class="comment-content">
								<p class="text-muted" ng-bind="msg.comments[0].content">No
									description provided.</p>
							</div>
						</div>
					</div>
					<div class="moreMsg" style="display: none">
						<div class="commentbox" ng-repeat="comment in msg.comments">
							<div class="avatarbox pull-left">
								<img alt="{{username}}" class="avatar" data-user="219689"
									height="48" src="{{comment.owner.avatarlink}}" width="48">
							</div>
							<div class="comment">
								<div class="comment-header">
									<strong> <a href="/user:{{comment.owner}}"
										class="author">lexrus</a>
									</strong> 发表于 <span ng-bind="comment.timestamp"></span>
								</div>
								<div class="comment-content">
									<p class="text-muted" ng-bind="comment.content">No
										description provided.</p>
								</div>
							</div>
						</div>
						<div class="commentbox">
						<div class="avatarbox pull-left">
							<img alt="{{user.name}}" class="avatar" data-user="219689"
								height="48" src="{{user.avatarlink}}" width="48">
						</div>
						<div class="inputcommentbox">
							<form role="form" name="commentForm"
								ng-submit="submit(commentForm,msg.id)">
								<div class="form-group">
									<textarea name="comment" ng-model="comment" placeholder="请留言"
										rows="3" required></textarea>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary">发表评论</button>
								</div>
							</form>
						</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div role="tabpanel" tcid="t2" class="tab-pane" id="profile">
		<!--<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>名称</th>
					<th>描述</th>
					<th>创建时间</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in notices">
					<td>{{v.id}}</td>
					<td>{{v.title}}</td>
					<td>{{v.content}}</td>
					<td>{{v.created_at}}</td>
				</tr>
			</tbody>
		</table>-->
		<div class="container－fluid ">
		<div class="message" ng-repeat="notification in notifications">
				<div class="row">
					<div class="messagebox">
						<div class="col-md-8">
							<a ng-bind="notification.title" ng-click="slidedetail($event)"></a>
						</div>
						<div class="col-md-3" ng-bind="notification.created_at"></div>
						<div class="col-md-1">		
						<div>		
						<a tooltip="标记为已读!" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true" ng-show = "!notification.isRead" ng-click="checkNotification(notification,notification.id)"><span class="glyphicon glyphicon-ok"></span></a>
						</div>
						</div>

					</div>
				</div>
				<div class="moreDetail" style="display: none">
				<div class="detailbox">
					<p ng-bind="notification.content"></p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#myTab a').click(function(e) {
		e.preventDefault();
		var p = $(this).attr("tabid");
		$("[tcid=" + p + "]").siblings().removeClass("active");
		$("[tcid=" + p + "]").addClass("active");
	});
</script>