<div class="page-header">
	<h2>发布项目</h2>
</div>
<form class="form-horizontal project-create-form" role="form"
	w5c-form-validate="vm.validateOptions" name="publishForm" novalidate>
	<div class="form-group">
		<div class="panel-heading">
			<h4>1 选择项目分类来源</h4>
		</div>
		<div class="col-sm-offset-0 col-sm-10">
			<label class="checkbox-inline"> <input type="checkbox"
				id="inlineCheckbox1" value="option1">个人
			</label> <label class="checkbox-inline"> <input type="checkbox"
				id="inlineCheckbox2" value="option1">赛事
			</label> <label class="checkbox-inline"> <input type="checkbox"
				id="inlineCheckbox3" value="option1">科研课题
			</label> <label class="checkbox-inline"> <input type="checkbox"
				id="inlineCheckbox4" value="option1">创新课题
			</label> <label class="checkbox-inline"> <input type="checkbox"
				id="inlineCheckbox5" value="option1">企业研究
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="panel-heading">
			<h4>2 设置更多详情</h4>
		</div>
		<div class="panel-heading">
			<h5>
				选择项目分类 <span class="glyphicon glyphicon-question-sign"
					style="display: inline"></span>
			</h5>
		</div>
		<div class="col-sm-offset-0 col-sm-10">
			<div class="rectangle1"></div>
			<div class="dropdown" style="float: left; margin-top: 10px">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="tech" data-toggle="dropdown" style="width: 100px">
					技术 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Another action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Something else here</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Separated link</a></li>
				</ul>
			</div>
			<div class="dropdown" id="net"
				style="float: left; display: inline; margin-top: 10px">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="net" data-toggle="dropdown" style="width: 150px">
					互联网 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu"
					aria-labelledby="dLabel">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Another action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Something else here</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="panel-heading">
			<h5>
				预计完成时间 <span class="glyphicon glyphicon-question-sign"
					style="display: inline"></span>
			</h5>
		</div>
		<div class="col-sm-offset-0 col-sm-10">
			<div class="rectangle1"></div>
			<div class="dropdown" style="float: left; margin-top: 10px">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="duration" data-toggle="dropdown" style="width: 250px">
					选择完成时间 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu"
					aria-labelledby="dLabel">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Another action</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Something else here</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="panel-heading">
			<h4>3 告诉我们更多关于项目的事宜</h4>
		</div>
		<div class="panel-heading">
			<h5>
				项目名称： <span class="glyphicon glyphicon-question-sign"
					style="display: inline"></span>
			</h5>
		</div>
		<div class="col-sm-offset-0 col-sm-12">
			<input type="text" class="form-control" name="projectname"
				placeholder="项目的名称是什么？" ng-model="projectname" required>
		</div>
	</div>
	<div class="form-group">
		<div class="panel-heading">
			<h5>
				描述一下项目： <span class="glyphicon glyphicon-question-sign"
					style="display: inline"></span>
			</h5>
		</div>
		<div class="col-sm-offset-0 col-sm-12">
			<textarea class="form-control" name="projectcontent" rows="3"
				placeholder="在这里描述一下你的项目......" ng-model="projectcontent" required></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-0 col-sm-12">
			<div class="bor">
				<button type="button" class="btn btn-default" id="appendix"
					data-dismiss="modal" style="margin-top: 10px; margin-left: 10px">+
					添加文件 ...</button>
				<div class="panel-heading" style="color: #777">
					<h5>添加或者拖拽有用的图像或者文件</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="button" class="btn btn-info" id="add"
				data-toggle="tooltip" data-placement="right" title="给项目增加一个条目"
				style="margin-top: 15px; margin-left: 20px">
				<h4>+</h4>
			</button>
		</div>
	</div>
	<script>
		$(function() {

			$('#add').tooltip()
			$('#add').click(function() {
				$("#iterm").toggle();
				$("#itermcontent").toggle();
			})
		})
	</script>
	<div class="form-group">
		<div class="col-sm-offset-0 col-sm-4">
			<input type="text" class="form-control" style="display: none"
				id="iterm" name="projectiterm" placeholder="title如项目奖励"
				ng-model="projectiterm">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-0 col-sm-8">
			<textarea class="form-control" style="display: none"
				id="itermcontent" name="itermcontent" rows="3" placeholder="条目内容"
				ng-model="itermcontent"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="panel-heading">
			<h5>
				需要开启项目报名的方式 <span class="glyphicon glyphicon-question-sign"
					style="display: inline"></span>
			</h5>
		</div>
		<div class="col-sm-offset-0 col-sm-5">
			<div class="rectangle2"></div>
			<label class="checkbox-inline" style="margin-top: 10px"> <input
				type="checkbox" id="inlineCheckbox6" value="option1">个人
			</label> <label class="checkbox-inline" style="margin-top: 10px"> <input
				type="checkbox" id="team" value="option1">团队
			</label>
		</div>
	</div>
	<script>
		$(function() {
			$('#team').click(function() {
				$("#remark").toggle();
				$("#bar").toggle();
				$("#projectremark").toggle();
			})
		})
	</script>
	<div class="form-group">
		<div class="panel-heading" id="remark" style="display: none">
			<h5>
				备注 <span class="glyphicon glyphicon-question-sign"
					style="display: inline"></span>
			</h5>
		</div>
		<div class="col-sm-offset-0 col-sm-12">
			<div class="rectangle3" id=bar style="display: none"></div>
			<textarea class="form-control" id="projectremark"
				name="projectremarks" placeholder="如对团队的要求" rows="3"
				style="display: none; margin-top: 10px"></textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-0 col-sm-5">
			<label class="checkbox-inline"> <input type="checkbox"
				name="agree" ng-model="agree" required> 您必须同意协议

			</label>
		</div>
	</div>

	<div class="form-group" style="display: block; float: left">
		<div class="col-sm-offset-0 col-sm-5">
			<button type="button" class="btn btn-info btn-lg" id="publish"
				w5c-form-submit="vm.saveEntity()" data-dismiss="modal">发布项目</button>

		</div>
	</div>
</form>