<div class="page-header">
	<h2>
		我的项目 <small ng-bind="project.name"></small>
	</h2>
</div>

<div ng-controller="project-edit" class="projectedit">
	<div class="page-header create-header">
		<ul class="create">
			<li role="presentation"><a class="complete"
				ng-class="{'complete_select':isselect(2)}" ng-click="setCurTab(2)">完成</a></li>
			<li role="presentation"><a class="next"
				ng-class="{'next_select': isselect(1)}" ng-click="setCurTab(1)">报名设置</a></li>
			<li role="presentation"><a class="next"
				ng-class="{'next_select': isselect(0)}" ng-click="setCurTab(0)">项目信息</a></li>
		</ul>
	</div>

	<form id="createforsm" name="createform" class="create-body">
		<div class="tab container" ng-class="{'active': isselect(0)}">
			<div class="col-md-7" style="padding-left: 0px;">
				<table >
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">项目名称</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><input
							type="text" class="form-control textinput"
							ng-model="project.name" required></td>
					</tr>
				</table>

				<table >
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">项目来源</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><label
							class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="0"
								ng-checked="true"> 个人
						</label> <label class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="1">
								赛事
						</label> <label class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="2">
								科研课题
						</label> <label class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="3">
								企业研究
						</label></td>
					</tr>
				</table>

				<table ng-hide="project.type==0"
					style="margin-top: 10px">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title"
							ng-bind="label"></label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><input
							type="text" ng-model="project.sponsor" class="form-control"
							ng-required="project.type!=0"></td>
					</tr>
				</table>

				<div style="margin-top: 50px;">
					<label class="title">项目分类</label>
					<div>
						<span ng-repeat="cate in selcates" style="margin-left: 20px;"
							ng-bind="cate.name"></span> <a class="mbtn" data-toggle="modal"
							data-target="#myModal" ng-if="selcates.length<1">添加分类 ></a>
							<a class="mbtn" data-toggle="modal"
							data-target="#myModal" ng-if="selcates.length>0">编辑分类 ></a>
							<div class="modal fade info" id="myModal">
							<div class="modal-dialog">
								<div class="modal-content tagmodal">
									<div class="modal-header"
										style="padding-top: 8px; padding-bottom: 8px; border-bottom: 0px;">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">×</span> <span class="sr-only">Close</span>
										</button>
										<h5 class="title">已选择分类：</h5>
										<ul class="nav nav-pills selecttag">
											<li ng-repeat="tag in selcates">
												<div class="rectangle" ng-bind="tag.name"></div>
												<div class="ex-toleft"></div>
												<button type="button" class="close delete"
													ng-click="delcate(tag)">
													<span aria-hidden="true"
														style="color: #ff0000; font-size: 16px">×</span>
												</button>
											</li>
										</ul>
										
										<p style="color:#ff0000;padding-left:20px;padding-bottom:0px;padding-top:0px;font-size:12px" ng-show="selcates.length>4">提示：最多只能选择五个项目分类</p>
										
									</div>

									<div class="modal-body">
										<div class="container-fluid tagbody">
											<div class="col-md-3" style="padding-left: 0px">
												<ul class="nav nav-pills nav-stacked lefttree">
													<li ng-repeat="cate in cates"
														ng-class="{'active': isActive(cate.id)}"><a
														ng-bind="cate.name" ng-click="setid(cate.id)"></a></li>
												</ul>
											</div>

											<div class="col-md-9">
												<ul class="nav nav-pills nav-stacked righttree"
													ng-repeat="cate in cates" ng-if="cate.id==curid">
													<li class="outerli">
														<ul class="nav nav-pills">
															<li ng-repeat="c in cate.children"
																ng-click="selectcate(c)"><a ng-bind="c.name"></a></li>
														</ul>
													</li>
												</ul>
											</div>

										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-sm"
											ng-click="addtags()" data-dismiss="modal">完成</button>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="modal fade info" id="myModal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h4 class="modal-title">选择项目标签</h4>
									</div>
									<div class="modal-body">
										<div class="container-fluid tagbody">
											<div class="col-md-3" style="padding-left: 0px">
												<ul class="nav nav-pills nav-stacked lefttree">
													<li ng-repeat="cate in cates"
														ng-class="{'active': isActive(cate.id)}"><a
														ng-bind="cate.name" ng-click="setid(cate.id)"></a></li>
												</ul>
											</div>

											<div class="col-md-9">
												<ul class="nav nav-pills nav-stacked righttree"
													ng-repeat="cate in cates" ng-if="cate.id==curid">
													<li class="outerli">
														<ul class="nav nav-pills">
															<li ng-repeat="c in cate.children"
																ng-click="selectcate(c)"><a ng-bind="c.name"></a></li>
														</ul>
													</li>
												</ul>
											</div>

										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal">关 闭</button>
									</div>
								</div>
							</div>
						</div> -->
					</div>
				</div>
				
			</div>

			<div class="col-md-5"
				style="padding-right: 0px;">
				<div class="form-group">
					<div class="me-avataredit">
						<div class="sys_projectimg" >
							<div class="p_img">
								<a data-toggle="modal"
									data-target="#imgModal"> <img alt="55x55"
									ng-src="{{'http://api.tongjo.com/files/'+project.image || '/img/avatar.png'}}">
									<h3>点击修改项目图片</h3>
								</a>
							</div>

						</div>
						<div class="modal fade" id="imgModal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h4 class="modal-title">添加项目图片</h4>
									</div>
									<div class="modal-body">
										<div class="mcontainer">
											<div class="container-fluid" id="imageid"></div>

										</div>
									</div>
									
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

			<div style="clear: both"></div>

			<div class="form-group" style="margin-top:20px">
				<label>项目描述</label>
				<script id="dsc" name="dsc" type="text/plain"
					style="width: 750px; height: 200px;">
</script>

			</div>
			
			<div style="margin-top: 50px;text-align:center">
				<button class="btn btn-next" ng-click="setCurTab(1)">下 一 步</button>
			</div>
			
		</div>
 		
 		<div style="clear: both"></div>
		<div class="tab container" ng-class="{'active': isselect(1)}">
			<div class="col-md-8 col-md-offset-2" style="margin-top:20px">
				<table>
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">报名方式</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><label
							class="radio-inline radiolabel" ><input type="radio" name="parttype"
								value="0" required ng-model="project.parttype" ng-checked="true">
								个人 </label> <label class="radio-inline radiolabel"><input type="radio"
								name="parttype" value="1" required ng-model="project.parttype">
								团队 </label> <label class="radio-inline radiolabel"> <input type="radio"
								name="parttype" value="2" required ng-model="project.parttype">
								个人或团队
						</label></td>
					</tr>
				</table>

				<!-- <table style="margin-top:30px;">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">是否开启报名审核功能</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><label
							class="radio-inline radiolabel" ><input type="radio" name="opentype"
								value="1" required ng-model="project.is_open" ng-checked="true"> 开启 </label> <label
							class="radio-inline radiolabel"><input type="radio" name="opentype"
								value="0" required ng-model="project.is_open"> 关闭 </label></td>
					</tr>
				</table> -->

				<table style="margin-top: 30px;">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">技能需求标签</label></td>
						<td style="padding-left: 14px; padding-right: 14px;">
							<ul class="nav nav-pills tagselect">
								<li ng-repeat="tag in projecttag">
									<div class="rectangle" ng-bind="tag.name"></div>
									<div class="ex-toleft"></div>
									<button type="button" class="close delete"
										ng-click="deltags(tag.id)">
										<span aria-hidden="true"
											style="color: #ff0000; font-size: 16px">×</span>
									</button>
								</li>
							</ul> 
							<a class="mbtn" style="margin-left:-2px;" data-toggle="modal" data-target="#tagModal">添加</a>

							<div class="modal fade info" id="tagModal">
								<div class="modal-dialog">
									<div class="modal-content tagmodal">
										<div class="modal-header"
											style="padding-top: 8px; padding-bottom: 8px; border-bottom: 0px;">
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">×</span> <span class="sr-only">Close</span>
											</button>
											<h5 class="title">已选择标签：</h5>
											<ul class="nav nav-pills selecttag">
												<li ng-repeat="tag in selecttag">
													<div class="rectangle" ng-bind="tag.name"></div>
													<div class="ex-toleft"></div>
													<button type="button" class="close delete"
														ng-click="del($index)">
														<span aria-hidden="true"
															style="color: #ff0000; font-size: 16px">×</span>
													</button>
												</li>
											</ul>
										</div>

										<div class="modal-body">
											<!-- 主体 -->
											<div class="container-fluid tagbody">
												<div class="col-md-3" style="padding-left: 0px">
													<ul class="nav nav-pills nav-stacked lefttree">
														<li ng-repeat="tag in tags"
															ng-class="{'active': isActive(tag.id)}"><a
															ng-bind="tag.name" ng-click="setid(tag.id)"></a></li>
													</ul>
												</div>

												<div class="col-md-9">
													<ul class="nav nav-pills nav-stacked righttree"
														ng-repeat="tag in tags" ng-if="tag.id==curid">
														<li class="outerli" ng-repeat="tag2 in tag.children">
															<h5 ng-bind="tag2.name"></h5>
															<ul class="nav nav-pills">
																<li ng-repeat="tag3 in tag2.children"
																	ng-click="selectt(tag3)"><a ng-bind="tag3.name"></a></li>
															</ul>
														</li>
													</ul>
												</div>

											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-default btn-sm"
												ng-click="addtags()" data-dismiss="modal">完成</button>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>

				<table style="margin-top:30px;">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">报名截止时间</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><input data-provide="datepicker" class="form-control datepicker"
							ng-model="project.deadline" required style="padding-left:14px;padding-right:14px"
							data-date-format="yyyy-mm-dd" autoclose="true"></td>
					</tr>
				</table>

				<div style="margin-top: 50px; text-align: center">
					<button class="btn btn-next" ng-click="setCurTab(0)">上 一 步</button>
					<button class="btn btn-next" ng-click="setCurTab(2)" style="margin-left:60px">下 一 步</button>
				</div>
			</div>
		</div>

		<div style="clear: both"></div>
		<div class="tab" ng-class="{'active': isselect(2)}">
			<div class="form-group" style="text-align:center">
				<img class="complete" src="/img/complete.png">
			</div>
			<div style="margin-top: 30px; text-align: center">
					<button class="btn btn-next" ng-click="setCurTab(1)">上 一 步</button>
					<button class="btn btn-next" ng-click="create()"
					ng-disabled="createform.$invalid" style="margin-left:60px">保 存 修 改</button>
			</div>
			<div style="margin-top: 20px; text-align: center">
				<p style="color:#bbb">点击“发布项目”，表示您已经阅读并同意</p><p style="color:#bbb">用户协议以及隐私策略</p>
			</div>
		</div>

	</form>
</div>

