<style>
.form-group>label {
	line-height: 2em;
	font-size: 20px;
}

.form-group h4 {
	line-height: 2em;
}
</style>
<div class="page-header">
	<h2>我的项目 <small ng-bind="project.name"></small></h2>
</div>
<form id="createforsm" name="createform">

	<div class="form-group">
		<label>项目名称</label> <input type="text" class="form-control"
			ng-model="project.name" required>
	</div>
	<div class="form-group">
		<label>报名截止时间</label>
		<div>
			<input data-provide="datepicker" class="form-control"
				ng-model="project.deadline" required data-date-format="yyyy-mm-dd">
		</div>
	</div>
	<div class="form-group">
		<label>选择项目分类来源</label>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="idd"> 个人
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="cmp"> 赛事
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="rsc"> 科研课题
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="crs"> 企业研究
			</label>
		</div>
	</div>
	<div class="form-group">
		<label>选择项目标签</label>
		<div>
			<span ng-repeat="cate in selcates" style="margin-right: 20px" ng-bind="cate.name"></span>
			<a class="btn btn-success" data-toggle="modal" data-target="#myModal">添加标签</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">选择项目标签</h4>
						</div>
						<div class="modal-body">
							<dl ng-repeat="cate in cates">
								<dt ng-bind="cate.name"></dt>
								<dd ng-repeat="c in cate.children"><input type="checkbox" value="{{c.id}}" ng-click="select($event, c)" ng-checked="c.select==true"> {{c.name}}</dd>
							</dl>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关 闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label>项目描述</label>
		<script id="dsc" name="dsc" type="text/plain"
			style="width: 100%; height: 200px;">
</script>

	</div>
	<div class="form-group">
		<label>报名方式</label>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="0" required
				ng-model="project.parttype"> 个人
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="1" required
				ng-model="project.parttype"> 团队
			</label>
		</div>		
		<div class="radio">
			<label> <input type="radio" name="parttype" value="2" required
				ng-model="project.parttype"> 个人或团队
			</label>
		</div>
	</div>

	<div class="form-group">
		<a class="btn btn-success btn-lg" ng-click="create()"
			ng-disabled="createform.$invalid">保存</a>
	</div>
</form>

