<div class="page-header">
	<h2>我的团队</h2>
</div>
<ul id="myTab" class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a role="tab" tabid="t1"
		data-toggle="tab">我创建的</a></li>
	<li role="presentation"><a role="tab" tabid="t2" data-toggle="tab">我参加的</a></li>
</ul>
<div class="tab-content">
	<div role="tabpanel" tcid="t1" class="tab-pane active" id="home">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>名称</th>
					<th>所在项目</th>
					<th>创建时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in createdteams">
					<td><a ng-bind="v.name" href="/team/{{v.id}}" target="_blank"></a></td>
					<td><a target="_blank" href="/project/{{v.project.id}}" ng-bind="v.project.name">查看</a></td>
					<td ng-bind="v.created_at|limitTo:10"></td>
					<td><span class="label label-default" ng-if="v.status==0">组建中</span>
					<span class="label label-warning" ng-if="v.status==1">申请中</span>
					<span class="label label-success" ng-if="v.status==2">参加成功</span>
					<span class="label label-danger" ng-if="v.status==3">参加失败</span></td>
					<td><a href="#team/{{v.id}}">管理</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div role="tabpanel" tcid="t2" class="tab-pane" id="profile">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>名称</th>
					<th>项目</th>
					<th>创建时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in joinedteams">
					<td ng-bind="v.name"></td>
					<td><a target="_blank" href="/project/{{v.project.id}}" ng-bind="v.project.name">查看</a></td>
					<td ng-bind="v.created_at|limitTo:10"></td>
					<td><span class="label label-default" ng-if="v.pivot.status=='applied'">申请加入中</span>
					<span class="label label-success" ng-if="v.pivot.status=='permited'">加入成功</span>
					<span class="label label-danger" ng-if="v.pivot.status=='denied'">加入失败</span>
					<td><a href="/team/{{v.id}}" target="_blank">查看</a> <a href="javascript:;" ng-click="quit(v)">退出团队</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
	$('#myTab a').click(function(e) {
		e.preventDefault();
		var p = $(this).attr("tabid");
		$("[tcid=" + p + "]").siblings().removeClass("active");
		$("[tcid=" + p + "]").addClass("active");
	})
</script>
