.projectedit{
	.create-header{
		border-bottom:0px;
		ul{
			
			li{
				text-align:center;
				float:right;
				width:265px;
				height:45px;
				a{
					display:block;
					width:100%;
					height:45px;
					line-height:45px;
					text-align:center;
					color:#f2f2f2;
					font-size:20px;
					text-decoration:none;
				}
				
				.complete{
					background:url("/img/title_complete_n.png");
				}
				
				.complete_select{
					background:url("/img/title_complete_s.png");
				}
				
				.next{
					background:url("/img/title_next_n.png") right no-repeat;
					width:295px;
				}
				
				.next_select{
					background:url("/img/title_next_s.png") right no-repeat;
					width:295px;
				}
			}
		}
	}

	.create-body{
		padding-left:10px;
		padding-right:10px;
		
		.tab{
			width: 100%;
			display: none;
			visibility: hidden;
			
			.title{
				float:left;
				height:37px;
				line-height:37px;
				font-size:16px;
				margin-bottom:0px;
			}	
			
			.mbtn{
				text-decoration:none;
				height:37px;
				line-height:37px;
				margin-left:16px;
				font-size:16px;
			}
			
			table{
				width:100%;
				cellpadding:0;
				cellspacing:0;
				margin-top:50px;
				
				.textinput{
					height:37px;
				}
			}
			
			.radiolabel{
				font-size:18px;
				margin-left:25px;
			}
		}
		
		.active {
			display: block;
			visibility: visible;
		}
		
		.btn-next{
			font-size:16px;
			padding-left:20px;
			padding-right:20px;
			background:#72c8d5;
			color:#f2f2f2;
		}
		
		.complete{
			width:300px;
			margin:0 auto;
			margin-top:60px;
		}
	}
		
	.tagselect{
		float:left;
		
		li{
			font-size:10px;
			padding-top:5px;
			padding-bottom:5px;
			margin-left:-5px;
		
			a{
				color:#000;
				height:26px;
				line-height:25px;
				padding:0px 6px 0px 6px;
			}	
		
			.rectangle{
				float:left;
				border-radius:4px 0px 0px 4px;
				height:26px;
				border:2px solid #f1f1f1;
				position:relative;
				background-color:#eeeeee;
				/* background:radial-gradient(ellipse closest-side,#ffffff,#eaeaea); */
				text-align:left;
				line-height:25px;
				padding:0px 20px 0px 10px;
			}
		
		 	.ex-toleft{
		 		float:left;
				display:block;
				overflow:hidden;
				width:0px;
				height:0px;
				border:13px solid #FFFFFF;
				border-color:#FFFFFF #f1f1f1;
				border-width:13px 0px 13px 13px;
				position:relative;
				left:-1px;
			}
			
			.delete{
				position:relative;
				top:3px;
				left:-24px;
			}
		}
	
	}

}
