/* new team */
.newteam{
	min-width:300px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	diaplay:table;
	
	label{
		margin-right:6px;
		font-weight:500;
	}

	.inputline{
		padding-left:0px;
		padding-right:0px;
	
	}
	
	.checkbox_me{
		float:left;
		margin-left:25px;
	}
	
	.input-group-center{
		text-align:center;
		
		.summitbutton{
			margin-left: auto;
			margin-right: auto;
			width:50%;
		}
	}
	
	
}