{!extends file='layout.html'!} {!block name=main!}

<style>
.detail {
	line-height: 35px;
}

.second-title {
	font-weight: bold;
	padding-top:20px;
	padding-bottom:10px;
}

.page-header{
	text-align:center;
}

.title{
		font-weight:bold;
		color:#111;
	}
p{text-indent:2em}
</style>
<div id="join">
	<div class="page-header">
		<h2 class="title">用户内容发布协议</h2>
	</div>
	<div class="detail">
		<p> 同舟网致力于为广大高校学生创造一个实践项目汇集和交流的平台，平台提供的项目是以学术研究、技能培养和综合素质锻炼为核心的，同舟网注册用户发布项目需符合以下要求：</p>
		<p> 1，符合中华人民共和国相关法律法规对网络内容信息发布的要求，若发布的内容触发了相关法律法规，平台有权删除内容，同时报相关部门依法予以追究。</p>
		<p> 2，禁止虚假消息传播，一旦发现发布内容存在欺骗用户的行为，平台有权在不通知发布者的情况下删除内容。</p>
		<p> 3，禁止传播不符合平台内容定位的兼职信息，如发放传单，平台有权在不通知发布者的情况下删除发布内容。</p>
		<p> 4，禁止传播和发布未经平台审核的广告信息，一旦发现，平台有权在不通知发布者的情况下删除发布内容。</p>
		<p> 让我们一起创造新的创新创业实践氛围。</p>
		<p style="text-align:right">同舟网</p>
		<p style="text-align:right">2015年3月16日</p>
	</div>
</div>
{!/block!}
