{!extends file='layout.html'!} {!block name=main!}
<script>
function getPar(par){
    //获取当前URL
    var local_url = document.location.href; 
    //获取要取得的get参数位置
    var get = local_url.indexOf(par +"=");
    if(get == -1){
        return false;   
    }   
    //截取字符串
    var get_par = local_url.slice(par.length + get + 1);    
    //判断截取后的字符串是否还有其他get参数
    var nextPar = get_par.indexOf("&");
    if(nextPar != -1){
        get_par = get_par.slice(0, nextPar);
    }
    return get_par;
}
$.ajax({
	url: API + 'emailverify',
	data: {id: getPar('id'), code: getPar('code')},
	success: function(d){
		if(d == 1){
			if(localStorage.user){
				var u = JSON.parse(localStorage.user);
				u.is_email_verified = 1;
				localStorage.user = JSON.stringify(u);
			}
			
			$("#success").removeClass("hide");
		}else{
			$("#fail").removeClass("hide");
		}
	}
});
</script>
<div class="alert alert-success hide" role="alert" id="success">邮箱验证成功！立即<a href="/login" class="alert-link">登录</a></div>
<div class="alert alert-danger hide" role="alert" id="fail">邮箱验证失败！</div>
{!/block!}
