<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>同舟</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/lib/fullpage/jquery.fullPage.css" />

<script src="/lib/jquery/jquery.js"></script>

<script type="text/javascript" src="/lib/fullpage/jquery.fullPage.min.js"></script>
<body>
<div id="fullpage">
    <div class="section" style="text-align: center;background:#b9cf51"><img src="/img/WEB1.png" style="width:65%"></div>
    <div class="section" style="text-align: center;background:#e46839"><img src="/img/WEB2.png" style="width:65%"></div>
    <div class="section" style="text-align: center;background:#75c1cb"><img src="/img/WEB3.png" style="width:65%"></div>
    <div class="section" style="text-align: center;background:#e9d04e;position:relative"><img src="/img/WEB4.png" style="width:65%"><a href="/scanproject" style="position:absolute;bottom:150px;color: white;right: 150px;text-decoration: none;font-size: 32px">立即开启旅程&gt;&gt;</a></div>
</div>
<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
    	navigation: true,
        navigationPosition: 'right',
    });
});
</script>
	
<script>
$(function(){
	$(".tech span").hover(function(){
		$(this).find("div").fadeIn();
	},function(){
		$(this).find("div").fadeOut();
	})
})
</script>
</body>
</html>