{!extends file='layout.html'!} {!block name=main!}
<div class="dialog">
	<div class="modal fade" id="jointeamsuccessModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modalcenter">
			<div class="modal-content">
				<div class="modal-body modalsize">
					<div class="container-fluid">
						<div class="modaltext">
							恭喜您！团队报名已成功，等待团长审核。<a>点此继续</a>浏览团队详情。
						</div>
						<!--[if lt IE 8]><span></span><![endif]-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-controller="loginController">
	<a ng-click="aclick()"> 登陆</a>
</div>
<script type="text/javascript">
	/*$('#jointeamsuccessModal').modal('show');*/
	require([ 'angular', 'model/login' ], function(angular, loginModal) {
		angular.module('login', [ 'loginModal' ]).controller(
				'loginController',
				function($scope, loginService) {
					$scope.aclick = function() {
						loginService.showModal().then(
								function(isSuccess) {
									if(isSuccess)
										alert("登陆成功:");
									else alert("登陆失败:");
								});
					}
				});
		angular.bootstrap(document.getElementById("body"), [ 'login' ]);
	});
</script>
{!/block!}
