{!extends file='base.html'!} {!block name=base!}

<script>
require(['angular', 'angular-resource'], function(angular){
	var app = angular.module('top', ['ngResource']);
	
	app.controller('topc', function($scope, $resource) {
		var User = $resource(API + 'user/:id');
		var user = User.get({id: localStorage.id});
		$scope.user = user;
	});
	angular.bootstrap(document.getElementById("top"), ['top']);
});
</script>
<div class="footer-fix">
	<header ng-controller="topc" id="top">
		<div class="wrapper">
			<a href="/" class="logo"><img alt="" src="/img/LOGO3.png"></a>
			<ul class="topbar">
				<li><a><span class="glyphicon glyphicon-envelope"></span></a></li>
				<li><a><span class="glyphicon glyphicon-bell"></span></a></li>
				<li><a><span class="glyphicon glyphicon-user"></span>
						{{user.realname}}</a></li>
			</ul>
			<div class="subnav">
				<ul>
					<li><a href="/project/create">发布项目</a></li>
					<li><a href="/scanproject">浏览项目</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="bodyer wrapper" id="body">{!block name=main!} {!/block!}</div>
	<div class="push"></div>
</div>
<footer>
	<div class="wrapper">
		<div class="stat">
			<div class="silk"></div>
			<div class="row">
				<div class="col-md-4">
					<p>1,423</p>
					<p class="sm">用户数</p>
				</div>
				<div class="col-md-4">
					<p>1,423</p>
					<p class="sm">项目数</p>
				</div>
				<div class="col-md-4">
					<p>1,423</p>
					<p class="sm">团队数</p>
				</div>
			</div>
		</div>
		<div class="text">
			<p>同舟2014版权所有</p>
			<p>
				<a>关于同舟</a> <a>隐私条款</a> <a>服务范围</a> <a>帮助手册</a>
			</p>
		</div>
	</div>
</footer>
{!/block!}
