{!extends file='base.html'!} {!block name=base!}

<script>
	require(['angular', 'Auth', 'angular-resource','angular-route',], function(angular, Auth, res, angular_route) {
		var app = angular.module('top', ['ngRoute', 'ngResource']).config(['$routeProvider', '$httpProvider',function($routeProvider, $httpProvider){
			$httpProvider.defaults.withCredentials = true;
		}]);

		app.controller('topc', function($scope, $resource) {
			
			if (Auth.isLogin()) {
				$scope.auth = true;
				var user = JSON.parse(localStorage.user);
				$scope.user = user;
				var Message = $resource(API + 'user/:user_id/message');
				$scope.has_msg = false;
				$scope.messages = Message.query({
					user_id: localStorage.uid
				},function() {
					for(var i in $scope.messages){
						if($scope.messages[i].is_viewed == 0){
							$scope.has_msg = true;
							break;
						}
					}
				});	
			} else {
				$scope.auth = false;
			}
			$scope.isActive = function (viewLocation) {
		        return viewLocation === location.pathname;
		    };
		    
		    $scope.click=function(){
		    	localStorage.time = 0;
		    	location.href="/";
		    }
		});
		angular.bootstrap(document.getElementById("top"), ['top']);
	});
</script>
<style>
#top ada{
	color: #6dbccb;
}
.navbar{
	background: #666;
	height: 40px;
}
.navbar a{
	color: #eee !important;
}
.navbar li.active a{
	color: #7baf52 !important;
}
</style>
<div class="footer-fix">
	<nav class="navbar navbar-default" role="navigation"
		ng-controller="topc" id="top">
		<div class="wrapper">
			<div class="navbar-header">
				<a class="" ng-click="click()" style="margin-right: 25px;"><img alt="" src="/img/LOGO45.png"></a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{ active: isActive('/scanproject')}"><a href="/scanproject#/">浏览项目</a></li>
					<li ng-class="{ active: isActive('/project/create')}"><a href="/project/create">发布项目</a></li>
				</ul>
				<!-- <form class="navbar-form navbar-left" role="search">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" placeholder="搜索" /> <i
							class="glyphicon glyphicon-search form-control-feedback"></i>
					</div>
				</form> -->
				<ul class="nav navbar-nav navbar-right" ng-show="auth==true">
					<li><a href="/me#message" title="消息" style="position: relative"><span
							class="glyphicon glyphicon-envelope"></span><div ng-show="has_msg==true" style="border-radius: 5px;width:10px;height:10px;background:#CD4242;top:12px;right:10px;position:absolute"></div></a></li>
					<!-- <li><a href="/me#message"><span
							class="glyphicon glyphicon-bell"></span></a></li> -->
					<li><a href="/me"><span class="glyphicon glyphicon-user"></span>
							<span ng-bind="user.realname"></span></a></li>
				</ul>
				<ul ng-show="auth==false" class="nav navbar-nav navbar-right">
					<li><a href="/login">登陆</a></li>
					<li><a href="/signup">注册</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="bodyer wrapper" id="body">{!block name=main!}
		{!/block!}</div>
	<div class="push"></div>
</div>
<footer>
	<section class="footer">
		<div class="clearfix">
			<div class="lists clear">
				<div>
					<!-- <strong>关于同舟</strong> -->
					<ul>
						<li><a href="/about#/about" target="_blank">关于同舟</a></li>
					</ul>
				</div>
				<div>
					<!-- <strong>隐私条款</strong> -->
					<ul>
						<li><a href="/about#/join" target="_blank">加入我们</a></li>
					</ul>
				</div>
				<div>
					<!-- <strong>服务范围</strong> -->
					<ul>
						<li><a href="/about#/mobile" target="_blank">移动应用</a></li>
					</ul>
				</div>
				<div>
					<!-- <strong>帮助手册</strong> -->
					<ul>
						<li><a href="/about#/service" target="_blank">服务范围</a></li>
					</ul>
				</div>
			</div>
			<div class="logo">
				<figure>
					<img src="/img/index/tongjo-qrcode.jpg"></img>
				</figure>
			</div>
		</div>
	</section>
	<section class="footertwo">
		<p class="text">© 2014 同舟2014版权所有</p>
	</section>
</footer>
{!/block!}
