{!extends file='base.html'!} {!block name=base!}
<header>
	<div class="wrapper">
		<a href="/" class="logo"><img alt="" src="/img/LOGO3.png"></a>
		<ul class="topbar">
			<li><a><span class="glyphicon glyphicon-envelope"></span></a></li>
			<li><a><span class="glyphicon glyphicon-bell"></span></a></li>
			<li><a><span class="glyphicon glyphicon-user"></span>
					guodong</a></li>
		</ul>
		<div class="subnav">
			<ul>
				<li><a href="/">发布项目</a></li>
				<li><a href="/">浏览项目</a></li>
			</ul>
		</div>
	</div>
</header>
<div class="top">
	<div class="wrapper clearfix">
		<a href="/" class="logo"><img alt="" src="/img/LOGO3.png"></a>
		<ul class="topbar">
			<li><a><span class="glyphicon glyphicon-envelope"></span></a></li>
			<li><a><span class="glyphicon glyphicon-bell"></span></a></li>
			<li><a><span class="glyphicon glyphicon-user"></span>
					guodong</a></li>
		</ul>
	</div>
</div>
<div class="subnav">
	<a href="/">发布项目</a> <a href="/">浏览项目</a>
</div>
<div class="container-fluid main">

	<div class="row">
		<div
			class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			{!block name=main!} {!/block!}</div>
	</div>
</div>

<div class="bottom">

	<div class="wrapper">
		<div class="subbottom">
			<div class="row">
				<div class="col-md-4">
					<p>1,423</p>
					<p class="sm">用户数</p>
				</div>
				<div class="col-md-4">
					<p>1,423</p>
					<p class="sm">项目数</p>
				</div>
				<div class="col-md-4">
					<p>1,423</p>
					<p class="sm">团队数</p>
				</div>
			</div>
		</div>
		<div class="text">
		<p>同舟2014版权所有</p>
		<p>
			<a>关于同舟</a> <a>隐私条款</a> <a>服务范围</a> <a>帮助手册</a>
		</p>
		</div>
	</div>
</div>
{!/block!}
