{!extends file='base.html'!} {!block name=base!}
<div class="loginsignup">
	<div>
		<div class="fullscreen_post_bg" style="background-image: url('/img/denglu.jpg');">
        <!-- 主体 -->		
		<div ng-controller="loginController" class="container-fluid loginsignupbox">
			<div class="row">
			<div class="div-logo-mid">
			<a href="/">
                <h3 class="logo-mid">
                </h3>
            </a>
            </div>
				<div class="col-sm-12">
				 <p ng-bind="errorMsg" style="color:red"></p>
							<form class="form-horizontal w5c-form" role="form"
							w5c-form-validate="vm.validateOptions"
								name="loginForm" novalidate >
								<div class="form-group">
									<div class="col-sm-12">
										<input type="email" class="form-control" name="email"
											placeholder="请输入邮箱"  ng-model="email" required>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<input type="password" class="form-control" name="password"
											placeholder="请输入密码"  ng-model="password" required>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12 boxcenter">
										<div class="checkbox boxtext">
											<label> <input type="checkbox" ng-model="remember"> 记住我
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<a class="btn btn-primary col-sm-12" w5c-form-submit="vm.saveEntity()">登录</a>
									</div>
								</div>
							</form>
				</div>
		    <div>
            <div class="col-sm-5 col-sm-offset-1"><a  class = "logina" href="/findpsw">找回密码</a></div>
            <div class="col-sm-5 col-sm-offset-1"><a  class = "logina" href="/signup">快速注册</a></div>
            </div>
			</div>
          
		</div>
	</div>		
	</div><!-- 整体 -->
</div>
<script type="text/javascript">
require(['angular','lib/ycd-validation', 'Util', 'Auth'], function(angular, v, Util, Auth){
	Auth.check(function(d){
		if(!d.error){
			location.href="/me";
		}
	})
  var loginApp = angular.module('loginApp', ["w5c.validator"]);
	loginApp.config(["w5cValidatorProvider", "$httpProvider", function (w5cValidatorProvider, $httpProvider) {
		$httpProvider.defaults.withCredentials = true;
      // 全局配置
		w5cValidatorProvider.config({
          blurTrig: false,
          showError: true,
          removeError: true
      });
		w5cValidatorProvider.setRules({
          username: {
              required: "该项不能为空"
          },
          password:{
          	required: "密码不能为空"
          }
      });
  }]);
  loginApp.controller("loginController", ["$scope", "$http", function ($scope, $http) {
	  
      $scope.remember = true;
	  if(localStorage.isRemember){
		  $scope.email = localStorage.email;
		  $scope.password = localStorage.password;
	  }
      var vm = $scope.vm = {
          htmlSource: "",
          showErrorType: 1
      };
      
      vm.saveEntity = function (form) {
      	// 表单验证完成后调用
      	//TODO 提交数据
      	var emailVal = $scope.email;
      	var passwordVal = $scope.password;
      	var data={
      			email:emailVal,
      	        password:passwordVal
      	};
      	
      	
      	//console.log(data);
      	$.ajax({
      		   type: "GET",
      		   url: "http://api.tongjo.com/accesstoken",
      		   data: data,
      		   dataType:"json",
      		   xhrFields: {
      		      withCredentials: true
      		   },
      		   success: function(msg){
      			   console.log(msg);
      			   if(msg.error){
          	    	   $scope.$apply(function () {
           	    		  $scope.errorMsg = "用户名或密码错误";
           	          });
          	    	  return;
      			   }
      			   var user = msg;
      		       localStorage.user = JSON.stringify(msg);
      		       localStorage.uid = user.id;
      		       localStorage.accesstoken = user.accesstoken;  		       
      		       if($scope.remember){
      		    	   localStorage.email = emailVal;
      		    	   localStorage.password = passwordVal;
      		    	   localStorage.isRemember = true;
      		       }
      		       var ret = Util.getGet('return');
      		       if(ret){
      		    	   location.href=ret;
      		       }else{
      		    	 location.href = "/me";
      		       }
      		   },
      	       error: function(data) {
      	    	   console.log(data);
      	    	   $scope.$apply(function () {
        	    		  $scope.errorMsg = "error";
        	       });
                 }
      	});
      };
      //每个表单的配置，如果不设置，默认和全局配置相同
      vm.validateOptions = {
          blurTrig: false
      };
      vm.changeShowType = function () {
          if (vm.showErrorType == 2) {
              vm.validateOptions.showError = false;
              vm.validateOptions.removeError = false;
          } else {
              vm.validateOptions.showError = true;
              vm.validateOptions.removeError = true;
          }
      };
  }]); 
  angular.bootstrap(document, ['loginApp']);
});
</script>
{!/block!}