{!extends file='layout.html'!} {!block name=main!}
<script>
	require(['angular', 'angular-route', 'angular-resource'], function(angular,
			angular_route, $resource) {
		var app = angular.module('me', ['ngRoute', 'ngResource']).config(
				['$routeProvider', function($routeProvider) {
					$routeProvider.when('/info', {
						templateUrl: 'tpl/me/info.html',
						controller: 'info'
					}).when('/project', {
						templateUrl: 'tpl/me/project.html',
						controller: 'project'
					}).when('/project/create', {
						templateUrl: 'tpl/me/project-create.html',
						controller: 'project'
					}).when('/project/joined', {
						templateUrl: 'tpl/me/project-joined.html',
						controller: 'project-joined'
					}).when('/team', {
						templateUrl: 'tpl/me/team.html',
						controller: 'team'
					}).when('/message', {
						templateUrl: 'tpl/me/message.html',
						controller: 'message'
					}).otherwise({
						redirectTo: '/'
					});
				}]);
		app.controller('info', function($scope, $resource) {
			var User = $resource(API + 'user/:userId');
			$scope.user = User.get({
				userId: localStorage.uid
			});
		});
		app.controller('project-joined', function($scope, $resource) {
			var Project = $resource(API + 'user/:user_id/type/:type/project');
			var projects = Project.query({
				user_id: localStorage.uid,
				type: 'joined'
			}, function() {
				$scope.projects = projects;
			});
		});
		app.controller('project', function($scope, $resource) {
			var Project = $resource(API + 'user/:user_id/type/:type/project');
			var projects = Project.query({
				user_id: localStorage.uid,
				type: 'created'
			}, function() {
				$scope.projects = projects;
			});
		});
		app.controller('team', function($scope, $resource) {
			var Team = $resource(API + 'user/:user_id/team')
			var teams = Team.query({
				user_id: localStorage.uid
			}, function() {
				$scope.teams = teams;
			})
		});
		app.controller('sidebar', function($scope, $resource) {
			var User = $resource(API + 'user/:user_id')
			$scope.user = User.get({
				user_id: localStorage.uid
			});
		});
		app.controller('message', function($scope, $resource) {
			var User = $resource(API + 'user/:user_id')
			$scope.user = User.get({
				user_id: localStorage.uid
			});
		});
		angular.bootstrap(document.getElementById("body"), ['me']);
	});
</script>

<div class="ucenter">
	<div class="row">
		<div class="col-md-2" ng-controller="sidebar">
			<div class="avatar clearfix">
				<img class="img-thumbnail" alt="140x140"
					src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4="
					data-holder-rendered="true">
				<div ng-bind="user.realname"></div>
			</div>
			<div class="list-group">
				<a href="#project" class="list-group-item"><span
					class="glyphicon glyphicon-th-list"></span> 我发布的项目</a><a
					href="#project/joined" class="list-group-item"><span
					class="glyphicon glyphicon-cloud-upload"></span> 我参加的项目</a> <a
					href="#team" class="list-group-item"><span
					class="glyphicon glyphicon-tower"></span> 我的团队</a> <a href="#info"
					class="list-group-item"><span class="glyphicon glyphicon-user"></span>
					个人信息</a> <a href="#message" class="list-group-item"><span
					class="glyphicon glyphicon-envelope"></span> 消息通知</a> <a href="#"
					class="list-group-item"><span class="glyphicon glyphicon-off"></span>
					退出</a>
			</div>
		</div>
		<div class="col-md-10">
			<div ng-view></div>
		</div>
	</div>
</div>
{!/block!}
