{!extends file='layout.html'!} {!block name=main!}
<link href="/lib/bootstrap-datepicker/datepicker3.css" rel="stylesheet">
<link rel="stylesheet"
	href="/lib/umeditor/themes/default/css/umeditor.css">

<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>

<script type="text/javascript" src="/js/lib/ImageCropper.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/lib/umeditor/lang/zh-cn/zh-cn.js"></script>
<script>
require(['angular', 'angular-route', 'angular-resource','ui-bootstrap'],
		function(angular, angular_route, $resource,bootstrap) {
			var app = angular.module('me', ['ngRoute', 'ngResource','ui.bootstrap']).config(['$routeProvider',
			function($routeProvider) {
				$routeProvider.when('/info', {
					templateUrl: 'tpl/me/info.html',
					controller: 'info'
				}).when('/avatar', {
					templateUrl: 'tpl/me/avatar-edit.html',
					controller: 'avatar',
					resolve: {
						cropperid: function() {
							return "cropper";
						}
					}
				}).when('/project', {
					templateUrl: 'tpl/me/project.html',
					controller: 'project'

				}).when('/project/:project_id', {
					templateUrl: 'tpl/me/project-edit.html',
					controller: 'project-edit'
				}).when('/team', {
					templateUrl: 'tpl/me/team.html',
					controller: 'team'
				}).when('/team/:team_id', {
					templateUrl: 'tpl/me/team-detail.html',
					controller: 'team-detail'
				}).when('/message', {
					templateUrl: 'tpl/me/message.html',
					controller: 'message'
				}).otherwise({
					redirectTo: '/'
				});
			}]);
			app.controller('info',
			function($scope, $resource) {
				var User = $resource(API + 'user/:userId', {
					userId: '@id'
				},
				{
					save: {
						method: 'PUT'
					}
				});
				var user = User.get({
					userId: localStorage.uid
				},
				function() {
					$scope.user = user;
					var u = JSON.parse(localStorage.user);
					$scope.save = function() {
						var u = new User(user);
						u.$save(function() {
							localStorage.user = JSON.stringify(user);
							alert("修改成功");
							location.reload();
						});

					};
					var School = $resource(API + 'school');
					$scope.schools = School.query(function() {
						$scope.getCampuses();
					});
					var Major = $resource(API + 'major');
					$scope.majors = Major.query();
					$scope.getCampuses = function() {
						$scope.campuses = [];
						for (var i in $scope.schools) {
							if ($scope.schools[i].id == user.school_id) {
								$scope.campuses = $scope.schools[i].campuses;
								break;
							}
						}
					}
				});

			});

			app.controller('avatar',
			function($scope, $resource, cropperid) {

				var cropper;
				$scope.init = function() {
					cropper = new ImageCropper(300, 300, 180, 180);
					cropper.setCanvas("cropper");
					cropper.addPreview("preview140");
					cropper.addPreview("preview50");

					if (!cropper.isAvaiable()) {
						alert("Sorry, your browser doesn't support FileReader, please use Firefox3.6+ or Chrome10+ to run it.");
					}
				};

				$scope.init();

				$scope.$watch('uploadme',
				function(to, from) {
					/* console.log($scope.uploadme); */
					if ($scope.uploadme != "undefined" && $scope.uploadme != null) cropper.loadImage($scope.uploadme);
				});

				$scope.rotateImage = function(e) {
					switch (e.target.id) {
					case "rotateLeftBtn":
						cropper.rotate( - 90);
						break;
					case "rotateRightBtn":
						cropper.rotate(90);
						break;
					}
				};

				$scope.saveImage = function() {
					var file140 = document.getElementById("preview140");
					var file50 = document.getElementById("preview50");

					if (file140.toDataURL() != "undefined") {
						var uid = localStorage.uid;
						if (uid > 0) {
							var url = API + "user/" + uid + "/";
							$.post(url + 'avatar', {
								"image": file140.toDataURL(),
							},
							function(data) {
								if (data.id) {
									alert("修改成功");
								}
							},
							"json")
						} else {
							alert("用户没有登陆");
						}
					} else {
						alert("请先设置图片");
					}
				};

				$scope.trace = function() {
					if (typeof(console) != "undefined") console.log(Array.prototype.slice.apply(arguments).join(" "));
				};
			});

			app.directive("fileread", [function() {
				return {
					scope: {
						fileread: "="
					},

					link: function(scope, element, attributes) {
						element.bind("change",
						function(changeEvent) {
							var reader = new FileReader();
							reader.onload = function(loadEvent) {

								scope.$apply(function() {
									scope.fileread = changeEvent.target.files[0];
									// or all selected files:
									// scope.fileread = changeEvent.target.files;
								});
							}
							reader.readAsDataURL(changeEvent.target.files[0]);
						});
					}
				}
			}]);

			app.controller('project',
			function($scope, $resource) {
				var Project = $resource(API + 'user/:user_id/type/:type/project');
				$scope.joined = Project.query({
					user_id: localStorage.uid,
					type: 'joined'
				});
				$scope.created = Project.query({
					user_id: localStorage.uid,
					type: 'created'
				});
				$scope.user = JSON.parse(localStorage.user);
			});
			app.controller('team-detail',
			function($scope, $resource, $routeParams) {
				var Team = $resource(API + 'team/:id', {
					id: '@id'
				},
				{
					save: {
						method: 'PUT'
					}
				});

				$scope.getteam = function() {
					var team = Team.get({
						id: $routeParams.team_id
					},
					function() {
						$scope.team = team;
						$scope.team.created_at = team.created_at.substr(0, 10);
						console.log($scope.team);
					});
				}

				$scope.getteam();

				$scope.update = function() {
					$scope.team.$save(function(team) {
						$scope.team = team;
						$scope.team.created_at = team.created_at.substr(0, 10);
						alert("保存成功");
					});
				};

				$scope.getstatus = function(status) {
					if (status == "permited") {
						return "已通过";
					} else if (status == "denied") {
						return "已拒绝";
					} else if (status == "applied") {
						return "申请中";
					} else if (status == "removed") {
						return "已移除";
					} else {
						return "未知";
					}
				};

				$scope.isshowagree = function(leaderid, userid, status) {
					if (leaderid == userid) {
						return false;
					}
					if (status == "applied") {
						return true;
					} else {
						return false;
					}
				};

				$scope.isshowdeny = function(leaderid, userid, status) {
					if (leaderid == userid) {
						return false;
					}
					if (status == "applied") {
						return true;
					} else {
						return false;
					}
				};

				$scope.isshowremove = function(leaderid, userid, status) {
					if (leaderid == userid) {
						return false;
					}
					if (status == "permited") {
						return true;
					} else {
						return false;
					}
				};

				var Status = $resource(API + 'team/:team_id/user/:user_id/status/:status', null, {
					save: {
						method: 'PUT'
					}
				});
				$scope.permit = function(user_id) {
					var st = new Status();
					st.$save({
						team_id: $routeParams.team_id,
						user_id: user_id,
						status: "permited"
					},
					function() {
						$scope.getteam();
						alert("修改成功");
					})
				};
				$scope.deny = function(user_id) {
					var st = new Status();
					st.$save({
						team_id: $routeParams.team_id,
						user_id: user_id,
						status: "denied"
					},
					function() {
						$scope.getteam();
						alert("修改成功");
					})
				};
				$scope.remove = function(user_id) {
					var st = new Status();
					st.$save({
						team_id: $routeParams.team_id,
						user_id: user_id,
						status: "removed"
					},
					function() {
						$scope.getteam();
						alert("修改成功");
					})
				}
			});
			app.controller('project-edit',
			function($scope, $resource, $routeParams) {
				$('.datepicker').datepicker({
					startDate: '1d',
					autoclose: true,
					language: 'zh-CN',
				});
				var um;
				var Project = $resource(API + 'project/:project_id', {
					project_id: '@id'
				},
				{
					save: {
						method: 'PUT'
					}
				});
				$scope.project = Project.get({
					project_id: $routeParams.project_id,
				},
				function() {
					$scope.project.deadline = $scope.project.deadline.substr(0, 10);
					um = UM.getEditor('dsc', {
						autoFloatEnabled: false
					});
					um.ready(function() {
						um.setContent($scope.project.description);
					});

					$scope.selcates = $scope.project.categorys;
					var Cate = $resource(API + 'category');
					$scope.cates = Cate.query({},
					function() {
						for (var i in $scope.cates) {
							for (var k in $scope.cates[i].children) {
								for (var j in $scope.project.categorys) {
									if ($scope.project.categorys[j].id == $scope.cates[i].children[k].id) {
										$scope.cates[i].children[k].select = true;
									}
								}
							}
						}
					});
				});
				var getCates = function() {
					var cates = [];
					for (var i in $scope.cates) {
						var cate = $scope.cates[i].children;
						for (var j in cate) {
							if (cate[j].select) {
								cates.push(cate[j]);
							}
						}
					}
					$scope.selcates = cates;
					return cates;
				}
				$scope.create = function() {
					$scope.project.description = um.getContent();
					var categorys = getCates();
					$scope.project.categorys = [];
					for (var i in categorys) {
						$scope.project.categorys.push(categorys[i].id);
					}
					$scope.project.$save(function() {
						alert("保存成功");
					});
				};

				$scope.select = function($event, cate) {
					var checkbox = $event.target;
					cate.select = checkbox.checked ? true: false;
					getCates();
				}
				$scope.$watch('project.type',
				function(type) {
					switch (type) {
					case '1':
						$scope.label = "组织机构";
						break;
					case '2':
						$scope.label = "所属学校";
						break;
					case '3':
						$scope.label = "所属企业";
						break;
					default:
						break;
					}
				})

			});
			app.controller('team',
			function($scope, $resource) {
				var Team = $resource(API + 'user/:user_id/type/:type/team');
				$scope.createdteams = Team.query({
					user_id: localStorage.uid,
					type: 'created'
				});
				$scope.joinedteams = Team.query({
					user_id: localStorage.uid,
					type: 'joined'
				});
			});
			app.controller('sidebar',
			function($scope, $resource) {
				var User = $resource(API + 'user/:user_id');
				$scope.user = User.get({
					user_id: localStorage.uid
				});
				$scope.logout = function() {
					localStorage.removeItem("uid");
					localStorage.removeItem("accesstoken");
					location.href = "/scanproject";
				}
			});
			app.controller('message',
			function($scope, $resource) {
				var User = $resource(API + 'user/:user_id');
				$scope.user = User.get({
					user_id: localStorage.uid
				});
				$scope.messages = [{
					comments: [{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					},
					{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					},
					{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					}]
				},
				{
					comments: [{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					},
					{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					},
					{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					}]
				},
				{
					comments: [{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					},
					{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					},
					{
						owner: {
							userId: 1,
							avatarlink: "/img/avatar.png"
						},
						timestamp: "2015-2-1",
						content: "11111111111111111111"
					}]
				}];
				$scope.notifications = [{
					id: 1,
					title: "notification-title",
					content: "notification-content",
					isRead:false,
					created_at: "2015-1-1",
				},
				{
					id: 2,
					title: "notification-title",
					content: "notification-content",
					isRead:true,
					created_at: "2015-1-1",
				},
				{
					id: 3,
					title: "notification-title",
					content: "notification-content",
					isRead:false,
					created_at: "2015-1-1",
				}];

				$scope.slidemsg = function($event) {
					//alert("test");
					//console.log(jQuery($event.target).html());
					//console.log(jQuery($event.target).parent().parent().siblings(".submessage").html());
					jQuery($event.target).parent().parent().parent().hide();
					jQuery($event.target).parent().parent().parent().parent().find(".moreMsg").slideToggle();
				};
				$scope.slidedetail = function($event) {
					jQuery($event.target).parent().parent().parent().parent().find(".moreDetail").slideToggle();
				};
				$scope.checkNotification =function(notification,notificationId){
					notification.isRead = true;
				}
				$scope.submit = function(commentForm, msgId) {
					var commentVal = commentForm.comment.$modelValue;
					var data = {
						msgId: msgId,
						userId: localStorage.uid,
						comment: commentVal
					};
					console.log(data);
				};
			});

			angular.bootstrap(document.getElementById("body"), ['me']);
		});
</script>

<div class="me">
	<div class="row">
		<div class="col-md-2" ng-controller="sidebar">
			<div class="avatar clearfix">
				<a href="#avatar"> <img class="img-thumbnail" alt="140x140"
					ng-src="{{user.avatar && 'http://api.tongjo.com/files/'+user.avatar || '/img/avatar.png'}}"
					data-holder-rendered="true">
					<h6>修改头像</h6>
				</a>

				<div ng-bind="user.realname"></div>
			</div>
			<div class="list-group">
				<a href="#project" class="list-group-item"><span
					class="glyphicon glyphicon-th-list"></span> 我创建的项目</a> <a
					href="#project" class="list-group-item"><span
					class="glyphicon glyphicon-log-in"></span> 我参加的项目</a> <a
					ng-show="user.role=='student'" href="#team" class="list-group-item"><span
					class="glyphicon glyphicon-tower"></span> 我的团队</a> <a href="#info"
					class="list-group-item"><span class="glyphicon glyphicon-user"></span>
					个人信息</a> <a href="#message" class="list-group-item"><span
					class="glyphicon glyphicon-envelope"></span> 消息通知</a> <a href="#"
					ng-click="logout()" class="list-group-item"><span
					class="glyphicon glyphicon-off"></span> 退出</a>
			</div>
		</div>
		<div class="col-md-10">
			<div ng-view></div>
		</div>
	</div>
</div>
{!/block!}
