{!extends file='layout.html'!} {!block name=main!}
<div class="ucenter">
	<div class="row">
		<div class="col-md-3">
			<div class="avatar clearfix">
				<img class="img-thumbnail" alt="140x140"
					src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4="
					data-holder-rendered="true">
				<div>Tongjo</div>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item active"><span
					class="glyphicon glyphicon-th-list"></span> 我发布的项目</a> <a href="#"
					class="list-group-item"><span
					class="glyphicon glyphicon-cloud-upload"></span> 我参加的项目</a> <a href="#"
					class="list-group-item"><span class="glyphicon glyphicon-tower"></span>
					我的团队</a> <a href="#" class="list-group-item"><span
					class="glyphicon glyphicon-user"></span> 个人信息</a> <a href="#"
					class="list-group-item"><span class="glyphicon glyphicon-off"></span>
					退出</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="page-header">
				<h2>我发布的项目</h2>
			</div>
		</div>
	</div>
</div>
{{u.name}}
<script>
localStorage.setItem("id", 1);
require(['model/user', 'angular'], function(User, Angular){
	var user = new User({id: localStorage.getItem("id")});
	user.fetch({async: false});
	console.log(user.get("email"))
});
</script>
{!/block!}
