{!extends file='layout.html'!} {!block name=main!}

<div class="newteam row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form class="navbar-form" action="" method="post">
			<div class="form-group formgroup-line">
				<input type="text"
					class="form-control inputtext" placeholder="团队名称">
					<label>团队名称：</label> 
			</div>
			<div class="form-group formgroup-line">
				<input type="text"
					class="form-control inputtext" placeholder="团队名称">
					<label>申请团队人数 ：</label> 
			</div>
			<div class="form-group formgroup-line">
				 <input type="text"
					class="form-control inputtext" placeholder="团队名称">
					<label>设置申请人数：</label>
			</div>
			<div class="form-group formgroup-line">
				<input type="text"
					class="form-control inputtext" placeholder="团队名称">
					<label>设置团队报名时间：</label> 
			</div>
			<div class="form-group formgroup-line">
				<input type="text"
					class="form-control inputtext" placeholder="团队名称">
					<label>是否开启报名确认</label> 
			</div>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>

{!/block!}
