{!extends file='layout.html'!} {!block name=main!}
<div class="dialog">
<div class="modal fade" id="personjoinModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modalcenter">
		<div class="modal-content ">
			<div class="modal-body modalsize ">
				<div class="container-fluid">
					<div class="modaltext"><p>您是否确认报名?</p></div>
					<!--[if lt IE 8]><span></span><![endif]-->
					<div class="row modalbuttons">
					    <div class="col-sm-2"></div>
						<button type="button" class="btn btn-primary col-sm-3" >确定</button>
						<div class="col-sm-2"></div>
						<button type="button" class="btn btn-default col-sm-3" data-dismiss="modal">取消</button>
					    <div class="col-sm-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
$('#personjoinModal').modal('show');
</script>
{!/block!}
