{!extends file='layout.html'!} {!block name=main!}
<div class="dialog">
<div class="modal fade " id="personjoinsuccessModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modalcenter">
		<div class="modal-content">
			<div class="modal-body modalsize">
				<div class="container-fluid">
					<div class="modaltext">恭喜您！个人报名已成功，<a>点此继续</a>浏览项目详情。</div>
					<!--[if lt IE 8]><span></span><![endif]-->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{!/block!}
