{!extends file='layout.html'!} {!block name=main!}
<div class="project-detail">
	<div class="page-header">
		<h1>网站开发</h1>
		<button class="btn btn-warning">
			<span class="glyphicon glyphicon-plus"></span> 参加该项目
		</button>
	</div>
	<div class="well clearfix">
		<div class="panel pull-left">
			<ul>
				<li class="first">
					<p>项目分类来源</p> <a>创新课题</a>
				</li>
				<li>
					<p>项目分类来源</p> <a>创新课题</a>
				</li>
			</ul>
		</div>
		<div class="panel pull-right">
			<p>剩下100天</p>
			<span>开放</span>
		</div>
	</div>
	<section>
		<div class="row">
			<div class="col-md-8">
				<h3>项目描述</h3>
				<div class="detail">Concat works better here because it’s
					simpler. Angular is handling all of the code loading for us, we
					just need to assist it with the files. So long as we get that
					module setter before the getters, we have nothing to worry about.
					It’s also great because any new files we just add into the
					directory. No manifest like we would need in browserify. No
					dependencies like we would need in require.js.</div>
			</div>
			<div class="col-md-4">
				<h4>项目发布者</h4>
				<p>彭涛</p>
			</div>
		</div>
	</section>
	<section>
	<table class="group">
		<thead class="bg-primary">
			<tr>
				<th>参加的团队</th>
				<th>人数</th>
				<th width="130px">状态</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<h3 class="text-success">电信六人行</h3> <small><a>查看团队详情</a></small>
				</td>
				<td>
					<p class="text-primary">已有：4人</p>
					<p class="text-muted">共需：8人</p>
				</td>
				<td>
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-plus"></span> 参加团队
					</button>
				</td>
			</tr>
			<tr>
				<td>
					<h3 class="text-success">电信六人行</h3> <small><a>查看团队详情</a></small>
				</td>
				<td>
					<p class="text-primary">已有：4人</p>
					<p class="text-muted">共需：8人</p>
				</td>
				<td>
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-plus"></span> 参加团队
					</button>
				</td>
			</tr>
			<tr>
				<td>
					<h3 class="text-success">电信六人行</h3> <small><a>查看团队详情</a></small>
				</td>
				<td>
					<p class="text-primary">已有：4人</p>
					<p class="text-muted">共需：8人</p>
				</td>
				<td>
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-plus"></span> 参加团队
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</section>
	<section class="project-list">
		<h3>相似项目：</h3>
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img src="/img/web.png" alt="...">
				</a>
				<h4>
					<a href="#">网站开发</a>
				</h4>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img src="/img/cpt.png" alt="...">
				</a>
				<h4>
					<a href="#">比赛</a>
				</h4>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img src="/img/market.png"
					alt="...">
				</a>
				<h4>
					<a href="#">商业市场</a>
				</h4>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img src="/img/phone.png"
					alt="...">
				</a>
				<h4>
					<a href="#">移动设备</a>
				</h4>
			</div>
		</div>
	</section>
</div>
{!/block!}
