{!extends file='layout.html'!} {!block name=main!}
<div class="project-detail" ng-controller="info">
	<div class="page-header">
		<h1 ng-bind="project.name"></h1>
		<a class="btn btn-warning" href="#join">
			<span class="glyphicon glyphicon-plus"></span> 参加该项目
		</a>
	</div>
	<!-- <div class="well clearfix">
		<div class="panel pull-left">
			<ul>
				<li class="first">
					<p>项目分类来源</p> <a>创新课题</a>
				</li>
				<li>
					<p>项目分类来源</p> <a>创新课题</a>
				</li>
			</ul>
		</div>
		<div class="panel pull-right">
			<p>剩下<span>100</span>天</p>
			<span>开放</span>
		</div>
	</div> -->
	<section>
		<div class="row">
			<div class="col-md-8">
				<h3>项目描述</h3>
				<div class="detail" ng-bind-html="project.description|trusted"></div>
			</div>
			<div class="col-md-4">
				<h4>项目发布者</h4>
				<p ng-bind="project.creator.realname"></p>
			</div>
		</div>
	</section>
	<section>
	<a class="btn btn-primary pull-right" id="joinone" style="margin-bottom:20px" href="/newteam/{{project.id}}"><span class="glyphicon glyphicon-star"></span> 组建团队</a>
	<a class="btn btn-info pull-right" id="join" style="margin-bottom:20px;margin-right:20px" ng-click="joinone()"><span class="glyphicon glyphicon-user"></span> 个人参加</a>
	<table class="group">
		<thead class="bg-primary">
			<tr>
				<th>参加的团队</th>
				<th>人数</th>
				<th width="130px">状态</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="v in project.teams">
				<td>
					<h3 class="text-success" ng-bind="v.name"></h3> <small><a target="_blank" href="/team!{{v.id}}">查看团队详情</a></small>
				</td>
				<td>
					<p class="text-primary">已有：<span ng-bind="v.teammember_current"></span>人</p>
					<p class="text-muted">共需：<span ng-bind="v.teammember_all"></span>人</p>
				</td>
				<td style="text-align: right;">
					<button class="btn btn-warning">
						<span class="glyphicon glyphicon-plus"></span> 参加团队
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	</section>
	<section class="project-list">
		<h3>相似项目：</h3>
		<div class="row">
			<div class="col-xs-6 col-md-3" ng-repeat="v in projects|limitTo:4">
				<a href="/project/{{v.id}}" class="thumbnail"> <img src="/img/web.png" alt="...">
				</a>
				<h4>
					<a href="/project/{{v.id}}" ng-bind="v.name"></a>
				</h4>
			</div>
		</div>
	</section>
</div>
<script>
var project_id = location.pathname.replace(/\/project\/(\d+)$/, '$1');
require(['angular', 'angular-resource'], function(angular){
	var app = angular.module('me', ['ngResource']);
	app.filter('trusted', ['$sce', function ($sce) { return function (text) { return $sce.trustAsHtml(text); }; }]);
	app.controller('info', function($scope, $resource, $sce) {
		var Project = $resource(API + 'project/:project_id');
		$scope.project = Project.get({project_id: project_id});
		$scope.project.description = $sce.trustAsHtml($scope.project.description);
		$scope.projects = Project.query();
		$scope.joinone = function(){
			var PU = $resource(API+'project/:project_id/user', {project_id: '@project_id'});
			var pu = new PU({
				user_id: localStorage.uid,
				project_id: project_id
			});
			pu.$save(function(){
				alert("参加成功");
			});
		}
	});
	angular.bootstrap(document.getElementById("body"), ['me']);
});
</script>
{!/block!}
