{!extends file='layout.html'!} {!block name=main!}
<style>
.footer-fix {
	background-color: #f2f2f2;
}
</style>
<div class="projectdetail" ng-controller="info">
	<div class="container-fluid page-header">
		<img ng-src="{{'http://api.tongjo.com/files/'+project.image}}"
			class="image">
		<div class="projectname">
			<h3 ng-bind="project.name"></h3>
			<div class="creator">
				<span>项目来源</span><span style="margin-left: 10px" ng-bind="project.sponsor" ng-show="project.sponsor.length >0"
					></span><span style="margin-left: 10px" ng-bind="project.creator.realname" ng-show="project.sponsor.length <1"
					></span>
			</div>
		</div>

		<a class="btn btn-default" ng-click="setCurTab(1)" href="#join"> 参加项目 </a>
	</div>

	<div style="clear: both"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 left-panel">
				<div class="this-project panel">
					<div class="nav stick"> 
						<ul>
							<li role="presentation"
								ng-class="{'active': isActive(0,selectedTab)}"
								ng-click="setCurTab(0)" ><a class="tab" href="#detail">项目介绍</a></li>
							<li role="presentation"
								ng-class="{'active': isActive(1,selectedTab)}"
								ng-click="setCurTab(1)"><a class="tab"  href="#team">已有团队({{project.teams.length}})</a></li>
							<li role="presentation"
								ng-class="{'active': isActive(2,selectedTab)}"
								style="margin-right: 0px;" ng-click="setCurTab(2)"><a
								class="tab"  href="#comment">评论({{project.comments.length}})</a></li>
						</ul>
					</div>
					<div ng-show="isActive(0,selectedTab)" class="detailview" id="detail" style="margin-top:-45px;padding-top:80px;">
						<section>
							<div class="detail" ng-bind-html="project.description|trusted"></div>
						</section>
					</div>
					<div ng-show="isActive(1,selectedTab)" class="teamview" id="team" style="margin-top:-45px;padding-top:80px;">
						<section>
							<a class="btn btn-primary pull-right" id="joinone"
								ng-show="project.parttype==1||project.parttype==2"
								style="margin-bottom: 20px; margin-left: 20px"
								href="/newteam/{{project.id}}" ng-disabled="!project.is_open"><span
								class="glyphicon glyphicon-star"></span> 组建团队</a> <a
								class="btn btn-info pull-right" id="join"
								ng-show="project.parttype==0||project.parttype==2"
								style="margin-bottom: 20px;" ng-click="joinone()" ng-disabled="!project.is_open"><span
								class="glyphicon glyphicon-user"></span> 个人参加</a>
							<table class="group">
								<thead class="bg-primary">
									<tr>
										<th>参加的团队和个人</th>
										<th>人数</th>
										<th width="130px">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="v in project.teams">
										<td>
											<a target="_blank" href="/team/{{v.id}}"><h3 class="text-success" ng-bind="v.name"></h3></a>
										</td>
										<td>
											<p class="text-primary">
												已有：<span ng-bind="v.members_count"></span>人
											</p>
											<p class="text-muted">
												共需：<span ng-bind="v.teammember_all"></span>人
											</p>
										</td>
										<td style="text-align: right;">
											<button class="btn btn-warning" ng-click="jointeam(v)" ng-disabled="!project.is_open">
												<span class="glyphicon glyphicon-plus"></span> 参加团队
											</button>
										</td>
									</tr>
									<tr ng-repeat="v in project.users">
										<td>
											<h3 ><a class="text-success" ng-bind="v.realname"
												target="_blank" href="/userinfodetail/{{v.id}}">查看个人详情</a></h3>
										</td>
										<td>-</td>
										<td style="text-align: right;">-</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
					<div ng-show="isActive(2,selectedTab)" class="commentview" id="comment" style="margin-top:-45px;padding-top:80px;">
						<section class="projectdiscuss">
							<div class="discussbox">
								<div class="commentbox">
									<div class="avatarbox pull-left">
										<img alt="{{user.realname}}" class="avatar" data-user="219689"
											height="48"
											ng-src="http://api.tongjo.com/files/{{user.avatar}}"
											width="48">
									</div>
									<div class="inputcommentbox">

										<form role="form" name="commentForm"
											ng-submit="submit(commentForm)">
											<div class="form-group">
												<textarea name="comment" ng-model="comment"
													placeholder="请留言" rows="3" required></textarea>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-primary">发表评论</button>
											</div>
										</form>
									</div>
								</div>
								<hr>
								<div class="comments">
									<div class="commentbox"
										ng-repeat="comment in project.comments | reverse">
										<div class="avatarbox pull-left">
											<img alt="{{comment.user.realname}}" class="avatar"
												data-user="219689" height="48"
												ng-src="http://api.tongjo.com/files/{{comment.user.avatar}}"
												width="48">
										</div>
										<div class="comment">
											<div class="comment-header">
												<strong> <a
													href="/userinfodetail!{{comment.user.id}}" class="author"
													ng-bind="comment.user.realname"></a>
												</strong> 发表于 <span ng-bind="comment.updated_at"></span>
											</div>
											<div class="comment-content">
												<p class="text-muted" ng-bind="comment.content">No
													description provided.</p>
											</div>
										</div>
									</div>

								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="similiar-projects panel">
					<section class="project-list">
						<h3>相似项目：</h3>
						<div class="clear clearfix tech">
							<article ng-repeat="v in projects|limitTo:4" ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false">
								<span> <img ng-src="{{v.image|defaultImg}}">
								</span>
								<a>
								<div class="hover" ng-show="hoverEdit">
									<p ng-bind="v.description|defaultDescription"></p>
								</div>
								</a>
								<h5 ng-bind="v.name"></h5>
							</article>
						</div>
					</section>
				</div>
			</div>
			<div class="col-md-3 right-panel">
				<div class="panel creator">
					<img
						ng-src="http://api.tongjo.com/files/{{project.creator.avatar}}"
						href="/userinfodetail/{{project.creator.id}}" class="image">
					<div class="creator-name">
						<h3>
							发布者 <a href="/userinfodetail/{{project.creator.id}}"
								ng-bind="project.creator.realname"></a><img title="同舟认证用户" ng-show="project.creator.is_v==1" alt="" src="/img/v.png" style="width: 15px">
						</h3>
						<p ng-bind="project.creator.school.name"> </p>
						<!-- <p>lv<span ng-bind="project.creator.degree"></span>&nbsp;<span ng-bind="project.creator.honor"></span></p> -->
						<p ng-bind="project.creator.major.name" style="max-width:100px"></p>
					</div>
				</div>
				<div class="panel labels clear clearfix">
					<div class="header">
						<span class="label-icon"></span>技能需求标签
					</div>
					<div class="marker">
					<ul>					
					<li ng-repeat="v in project.tags"><div class="rectangle" ng-bind="v.name"></div><div class="triangle"></div></li>
					</ul>
					</div>
				</div>
				<div class="panel time">
					<div class="leave">
						<span ng-bind = "project.daysmsg"></span><span class="day" ng-bind = "project.opendays"></span>天
					</div>
					<!--  ><div class="open" ng-show="project.is_open">报名开放</div>
				    <div class="open" ng-show="!project.is_open">报名关闭</div>-->
				</div>
<!-- 				<div class="panel collect">
					<a href="#collect"><img src="/img/collect.png"></img></a>
				</div> -->
			</div>
		</div>
	</div>
</div>

<script src="/js/lib/stickUp.min.js"></script>
<script type="text/javascript">
	//initiating jQuery
	jQuery(function($) {
		$(document).ready(function() {
			//enabling stickUp on the '.navbar-wrapper' class
			$('.stick').stickUp();
		});
	});
</script>

<script>
	var project_id = location.pathname.replace(/\/project\/(\d+)$/, '$1');
	require([ 'angular', 'angular-resource', 'Auth' ], function(angular, angular_resource, Auth) {
		var app = angular.module('me', [ 'ngResource' ]);
		app.filter('trusted', [ '$sce', function($sce) {
			return function(text) {
				return $sce.trustAsHtml(text);
			};
		} ]);
		app.filter('reverse', function() {
			return function(items) {
				if (items)
					return items.slice().reverse();
			}
		});
		app.filter('defaultImg',function(){
			   return function(item){
				   if(item==null || item =="")
					   return "/img/market.png";
				   else return "http://api.tongjo.com/files/"+item;
			   }
		   });
		app.filter('defaultDescription',function(){
			   return function(item){
				   if(item==null || item =="")
					   return "无相关项目介绍";
				   else  return $($.parseHTML(item)).text();
				   
			   }
		   });
		app.controller('info', function($scope, $resource, $sce) {
			var Project = $resource(API + 'project/:project_id');
			$scope.project = Project.get({
				project_id : project_id
			}, function() {
				if ($scope.project.creator.degree < 10) {
					$scope.project.creator.honor = "菜鸟";
				} else if ($scope.project.creator.degree < 40) {
					$scope.project.creator.honor = "中级";
				} else {
					$scope.project.creator.honor = "大神";
				}
				var dateNow= new Date();
				var dateDeadline = new Date($scope.project.deadline);
				var openTime=dateDeadline.getTime() - dateNow.getTime();
				$scope.project.opendays = Math.floor(openTime/(24*3600*1000));
				if( $scope.project.opendays < 0){
					$scope.project.daysmsg = "过期";
					$scope.project.opendays = -$scope.project.opendays;
				}
				else $scope.project.daysmsg = "剩余";
				 console.log($scope.project); 
			});
			$scope.project.description = $sce
					.trustAsHtml($scope.project.description);
			$scope.projects = Project.query();
			$scope.joinone = function() {console.log(Auth)
				Auth.check();
				var PU = $resource(API
						+ 'project/:project_id/user/:user_id/pivot', {
					project_id : '@project_id',
					user_id : '@user_id'
				});
				var pu = new PU({
					user_id : localStorage.uid,
					project_id : project_id
				});
				pu.$save(function(d) {
					if (d.error) {
						alert("你已经申请过了");
						return;
					}
					alert("参加成功");
				});
			};
			$scope.jointeam = function(team) {
				Auth.check();
				var TU = $resource(API + 'team/:team_id/user/:user_id/pivot', {
					team_id : '@team_id',
					user_id : '@user_id'
				});
				var tu = new TU({
					team_id : team.id,
					user_id : localStorage.uid,
				});
				tu.$save(function(d) {
					if (d.error) {
						alert("你已经申请过了");
						return;
					}
					alert("参加成功");
					team.members_count++;
				});
			};
			if(localStorage.user)
				$scope.user = JSON.parse(localStorage.user);
			$scope.selectedTab = 0;
			$scope.setCurTab = function(selectedTab) {
				$scope.selectedTab = selectedTab;
			}
			$scope.isActive = function(current, selectedTab) {
				if (current == selectedTab)
					return true;
				else
					return false;
			}
			$scope.submit = function(commentForm, projectId) {
				Auth.check();
				var commentVal = commentForm.comment.$modelValue;
				var data = {
					project_id : project_id,
					user_id : localStorage.uid,
					content : commentVal
				};
				console.log(data);
				var PC = $resource(API + 'comment');
				var pc = new PC(data);
				pc.$save(function() {
					//alert("评论成功");
					$scope.project = Project.get({
						project_id : project_id
					});
				});
			};
		});
		angular.bootstrap(document.getElementById("body"), [ 'me' ]);
	});
</script>
{!/block!}
