<div>
	<div class="featured">
		<div id="featuredCarousel" class="carousel slide" data-ride="carousel"
			data-interval="2000">
			<ol class="carousel-indicators">
				<li data-target="#featuredCarousel" data-slide-to="{{ fp.order}}"
					ng-repeat="fp in featureProject" class="{{fp.active}}"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item {{fp.active}}" ng-repeat="fp in featureProject">
					<a ng-if="fp.id !== -1" href="project/{{fp.id}}"><img ng-src="{{ fp.img }}" alt="..." /></a>
					<img ng-if="fp.id === -1" ng-src="{{ fp.img }}" alt="..." />
					<div class="carousel-caption"></div>
				</div>
			</div>
			<div>
				<a class="left carousel-control" href="#featuredCarousel"
					role="button" data-slide="prev"> <span class="previous-arrow"
					aria-hidden="true"></span> <span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#featuredCarousel"
					role="button" data-slide="next"> <span class="next-arrow"
					aria-hidden="true"></span> <span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<script>
			$('#featuredCarousel').carousel();
		</script>
	</div>
</div>

<div class="recom">
	<div class="sectionHeader">
		<div class="title">推荐</div>
		<div class="all">
			<a href="#special-1">查看更多>></a>
		</div>
		<div class="clearBoth"></div>
	</div>
	<section class="tech">
		<div class="clear clearfix">
			<div ng-show="!projectLoaded"
				style="width: 100%; text-align: center; padding-top: 20px; padding-top: 20px;">
				<p>加载中...</p>
			</div>
			<article
				ng-repeat="project in projects|paging:page.index:page.size track by $index"
				ng-mouseover="hoverEdit = true;" ng-mouseleave="hoverEdit = false;" ng-class="{'active': hoverEdit}">
				<a href="project/{{project.id}}"> <span> <img
						ng-src="{{project.image|defaultImg}}">
				</span>
				</a>
				<h5 ng-bind="project.name"></h5>
			</article>
		</div>
	</section>
</div>
<div class="new">
	<div class="sectionHeader">
		<div class="title">最新</div>
		<div class="all">
			<a href="#special-2">查看更多>></a>
		</div>
		<div class="clearBoth"></div>
	</div>
	<section class="tech">
		<div class="clear clearfix">
			<div ng-show="!newProjectLoaded"
				style="width: 100%; text-align: center; padding-top: 20px; padding-top: 20px;">
				<p>加载中...</p>
			</div>
			<article
				ng-repeat="project in newProjects|paging:page.index:page.size track by $index"
				ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" ng-class="{'active': hoverEdit}">
				<a href="project/{{project.id}}"> <span> <img
						ng-src="{{project.image|defaultImg}}">
				</span>
				</a>
				<h5 ng-bind="project.name"></h5>
			</article>
		</div>
	</section>
</div>
<div class="hot">
	<div>
		<div class="sectionHeader">
			<div class="title">最热</div>
			<div class="all">
				<a href="#special-3">查看更多>></a>
			</div>
			<div class="clearBoth"></div>
		</div>
		<section class="tech">
			<div class="clear clearfix">
				<div ng-show="!hotProjectLoaded"
					style="width: 100%; text-align: center; padding-top: 20px; padding-top: 20px;">
					<p>加载中...</p>
				</div>
				<article
					ng-repeat="project in hotProjects|paging:page.index:page.size track by $index"
					ng-mouseover="hoverEdit = true;" ng-mouseleave="hoverEdit = false;" ng-class="{'active': hoverEdit}">
					<a href="project/{{project.id}}"> <span> <img
							ng-src="{{project.image|defaultImg}}">
					</span>
					</a>
					<h5 ng-bind="project.name"></h5>
				</article>
			</div>
		</section>
	</div>
</div>