<section class="tech">
	<div class="clear clearfix">
		<h2 class="title">{{title}}</h2>
		<article ng-repeat="project in projects|paging:page.index:page.size track by $index">
			<span ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"> 
			<img src="{{project.imgurl|defaultImg}}">
				<div class="transparent_class" ng-show="hoverEdit">
					<p>{{project.name}}</p>
					<p>已报名团队：{{project.teamcount}}</p>
					<a class="small-button red" href="{{project.link}}">我要参加</a>
				</div>
			</span>
			<h5>{{project.title}}</h5>
		</article>		   
	</div>
	<pagination 
	class="pagination-bottom"
	ng-model="page.index"
    total-items="projects|size"
    items-per-page="page.size"
    max-size="10"
    previous-text="上一页"
    next-text="下一页"
    first-text="首页"
    last-text="尾页"
    boundary-links="true">
    </pagination>
</section>