<section class="tech">
	<div class="clear clearfix">
	    <article ng-repeat="project in projects track by $index">
			<span ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"> 
			<img ng-src="{{project.imgurl}}">
				<div class="transparent_class" ng-show="hoverEdit">
				    <p>{{project.title}}</p>
					<p>已报名团队：{{project.teamcount}}</p>
					<a class="small-button red" href="{{project.link}}">我要参加</a>
				</div>
			</span>
			<h5>{{project.title}}</h5>
		</article>		
	</div>
	<div style="overflow:hidden">
	<a class="more" id="recommendMore" ng-click="more($event,3)"> 查看更多>></a>
	</div>
</section>
<section class="tech">
	<div class="clear clearfix">
		<h2 class="title">最热项目</h2>
		<article ng-repeat="project in projects track by $index">
			<span ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
			 <img ng-src="{{project.imgurl}}">
				<div class="transparent_class" ng-show="hoverEdit">
					<p>已报名团队：{{project.teamcount}}</p>
					<p>个人报名：{{project.personcount}}</p>
					<a class="small-button red" href="{{project.link}}">我要参加</a>
				</div>
			</span>
			<h5>{{project.title}}</h5>
		</article>		
	</div>
	<div style="overflow:hidden">
	<a class="more" id="hotMore" ng-click="more($event,1)"> 查看更多>></a>
	</div>
</section>
<section class="tech">
	<div class="clear clearfix">
		<h2 class="title">最新项目</h2>
		<article ng-repeat="project in projects track by $index">
			<span ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
			 <img ng-src="{{project.imgurl}}">
				<div class="transparent_class" ng-show="hoverEdit">
					<p>已报名团队：{{project.teamcount}}</p>
					<p>个人报名：{{project.personcount}}</p>
					<a class="small-button red" href="{{project.link}}">我要参加</a>
				</div>
			</span>
			<h5>{{project.title}}</h5>
		</article>
	</div>
	<div style="overflow:hidden">
	<a class="more" id="hotMore" ng-click="more($event,2)"> 查看更多>></a>
	</div>
</section>