{!extends file='layout.html'!} {!block name=main!}
<style>
.navbar {
	margin-bottom: 0px;
}

.bodyer {
	margin-top: 0px;
}

.bodyer.wrapper {
	width: 100%;
}
</style>
<div class="scanprojecttwo">
	<div class="container-fluid">
		<div class="mainpanel">
			<div class="rightpanel">
				<div ng-controller="scanController">
					<div ng-view></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	require([ 'angular', 'angular-route', 'angular-resource', 'ui-bootstrap',
			'infinite-scroll' ], function(angular, route, bootstrap) {
		//var categoryArrays = [];
		var scanApp = angular.module('scanApp', [ 'ngRoute', 'ngResource',
				'ui.bootstrap', 'infinite-scroll' ]);

		scanApp.config([ '$routeProvider', function($routeProvider) {
			$routeProvider.when('/', {
				templateUrl : 'scanproject-index-tpl',
				controller : 'defaultCtl',
			}).when('/special-:specialId', {
				templateUrl : 'scanproject-tpl',
				controller : 'specialCtl'
			}).when('/category-:categoryId/:categoryName', {
				templateUrl : 'scanproject-tpl',
				controller : 'categoryCtl'
			}).when('/category-:facategoryId/:categoryId/:categoryName', {
				templateUrl : 'scanproject-tpl',
				controller : 'categoryCtl'
			}).otherwise({
				redirectTo : '/'
			});
		} ]);
		scanApp.controller('defaultCtl', function($scope, $rootScope,
				$routeParams, $resource) {
			$scope.projectLoaded = false;
			var Project = $resource(API + 'project');
			var projects = Project.query(function() {
				$scope.projects = projects;
				$scope.projectLoaded = true;
			});
			$scope.hotProjectLoaded = false;
			var orderbyHotAPI = API + 'project?orderby=hot';
			var ProjectHot = $resource(orderbyHotAPI);
			var hotProjects = ProjectHot.query(function() {
				$scope.hotProjects = hotProjects;
				$scope.hotProjectLoaded = true;
			});

			$scope.newProjectLoaded = false;
			var orderbyNewAPI = API + 'project?orderby=new';
			var ProjectNew = $resource(orderbyNewAPI);
			var newProjects = ProjectNew.query(function() {
				$scope.newProjects = newProjects;
				$scope.newProjectLoaded = true;
			});
		});
		scanApp.controller('specialCtl', function($scope, $rootScope,
				$routeParams, $resource) {
			if ($routeParams.specialId != null)
				$rootScope.specialId = $routeParams.specialId;
			var last = -1;
			$scope.view_projects = new Array();
			$scope.projectLoaded = false;
			var orderbyProAPI = API + 'project';
			if ($rootScope.specialId == 2)
				orderbyProAPI += "?orderby=new";
			else if ($rootScope.specialId == 3)
				orderbyProAPI += "?orderby=hot";
			var Project = $resource(orderbyProAPI);
			var projects = Project.query(function() {
				$scope.projects = projects;
				$scope.projectLoaded = true;
				for (var i = 1; i <= 8; i++) {
					if (last + i < $scope.projects.length)
						$scope.view_projects.push($scope.projects[last + i]);
				}
				last = $scope.view_projects.length - 1;
			});
			$scope.loadMore = function() {
				if ($scope.projects != null) {
					for (var i = 1; i <= 8; i++) {
						if (last + i < $scope.projects.length)
							$scope.view_projects
									.push($scope.projects[last + i]);
					}
					last = $scope.view_projects.length - 1;
				}
			};
		});
		scanApp.controller('categoryCtl', function($scope, $rootScope,
				$routeParams, $resource) {
			var last = -1;
			$scope.view_projects = new Array();
			$scope.projectLoaded = false;
			var Project = $resource(API + 'category/:categoryId/project');
			var projects = Project.query({
				categoryId : $routeParams.categoryId
			}, function() {
				$scope.projects = projects;
				$scope.projectLoaded = true;
				for (var i = 1; i <= 8; i++) {
					if (last + i < $scope.projects.length)
						$scope.view_projects.push($scope.projects[last + i]);
				}
				last = $scope.view_projects.length - 1;
			});
			$scope.loadMore = function() {
				if ($scope.projects != null) {
					for (var i = 1; i <= 8; i++) {
						if (last + i < $scope.projects.length)
							$scope.view_projects
									.push($scope.projects[last + i]);
					}
					last = $scope.view_projects.length - 1;
				}
			};
		});
		scanApp.controller("scanController", [ "$scope", function($scope) {
			$scope.page = {
				size : 8,
				index : 1
			};
			$scope.featureProject = [];
			$scope.featureProject.push({
				id:61,
				img : "/img/runningman.png",
				order : 1,
				active:"active"
			});
			$scope.featureProject.push({
				id:59,
				img : "/img/html5.png",
				order : 1,
			});
			/*$scope.featureProject.push({
				id:-1,
				img : "/img/scanproject-1.png",
				order : 2
			});
			$scope.featureProject.push({
				id:-1,
				img : "/img/scanproject-2.png",
				order : 3
			});
			$scope.featureProject.push({
				id:-1,
				img : "/img/scanproject-3.png",
				order : 4
			});*/
		} ]);
		scanApp.filter('size', function() {
			return function(items) {
				if (!items)
					return 0;
				return items.length || 0
			}
		});
		scanApp.filter('paging', function() {
			return function(items, index, pageSize) {
				if (!items)
					return [];
				var offset = (index - 1) * pageSize;
				return items.slice(offset, offset + pageSize);
			}
		});
		scanApp.filter('defaultImg', function() {
			return function(item) {
				if (item == null || item == "")
					return "/img/market.png";
				else
					return "http://api.tongjo.com/files/" + item;
			}
		});
		scanApp.filter('defaultDescription', function() {
			return function(item) {
				if (item == null || item == "")
					//return "项目是指一系列独特的、复杂的并相互关联的活动，这些活动有着一个明确的目标或目的，必须在特定的时间、预算、资源限定内，依据规范完成";
					return "";
				else
					return $($.parseHTML(item)).text();

			}
		});
		angular.bootstrap(document.getElementById("body"), [ 'scanApp' ]);
	});
</script>
{!/block!}
