{!extends file='layout.html'!} {!block name=main!}

<div class="container-fluid scanproject" ng-app="scanApp">
    <div class="row">
        <div class="col-sm-3 col-md-3">
        <div class="leftMenu">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-1"><span class="glyphicon glyphicon-folder-close">
                            </span>技术</a>
                        </h4>
                    </div>
                    <div id="category-1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#category-1/1">计算机</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#category-1/2">通信</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="#category-1/3">互联网</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="#category-1/4">智能</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                                                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="#category-1/5">自动化</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-2"><span class="glyphicon glyphicon-th">
                            </span>设计</a>
                        </h4>
                    </div>
                    <div id="category-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-2/1">艺术设计</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-2/2">工业设计</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-2/3">交互设计</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-2/4">平面设计</a>
                                    </td>
                                </tr>
                                                                <tr>
                                    <td>
                                                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-2/5">动画设计</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-3"><span class="glyphicon glyphicon-user">
                            </span>商业市场</a>
                        </h4>
                    </div>
                    <div id="category-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-3/1">营销</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-3/2">管理</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#category-3/3">策划</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-4"><span class="glyphicon glyphicon-file">
                            </span>创意</a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-5"><span class="glyphicon glyphicon-file">
                            </span>创意</a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-6"><span class="glyphicon glyphicon-file">
                            </span>公益</a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#category-7"><span class="glyphicon glyphicon-file">
                            </span>比赛</a>
                        </h4>
                    </div>
                </div>
                
            </div>
            <div class = "row textcenter">
              <div class = "col-sm-4"><a href="#special-1">最热</a></div>
              <div class = "col-sm-4"><a href="#special-2">最新</a></div>
              <div class = "col-sm-4"><a href="#special-3">推荐</a></div>
            </div>
        </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well" ng-controller="scanController">
            <div ng-view></div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/scanproject.css">
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/ui-bootstrap-tpls.js"></script>
<script src="/js/scanproject.js"></script>
{!/block!}
