{!extends file='layout.html'!} {!block name=main!}
<style>
.navbar {
margin-bottom: 0px;
}
.bodyer {
margin-top: 0px;
}
.bodyer.wrapper{
width:100%;
}
.push {
height: 0px;
}
</style>
<div class="scanprojecttwo">
<div class="container-fluid">
<div class="mainpanel">
        <div class="left-nav">
           <div class="category nav-section">
            <div class="title"><span>类别</span></div>
            <div class="dropdown">
            <a role="button" data-toggle="dropdown" class="btn btn-default cate-button" data-target="#" href="#">
                全部 <span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Second level</a></li>
                  <li><a href="#">Even More</a></li>
                  <li><a href="#">Second level</a></li>
                  <li><a href="#">Second level</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Second level</a></li>
                  <li><a href="#">Even More</a></li>
                  <li><a href="#">Second level</a></li>
                  <li><a href="#">Second level</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Hover me for more options</a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Second level</a></li>
                  <li><a href="#">Even More</a></li>
                  <li><a href="#">Second level</a></li>
                  <li><a href="#">Second level</a></li>
                </ul>
              </li>
            </ul>
        </div>
       </div>
           <div class="filter nav-section">
           <div class="title"><span>筛选</span></div>
           <div>
           <div class="checkbox"><label><input type="checkbox">同校</label></div>
           <div class="checkbox"><label><input type="checkbox">异校</label></div>
           <div class="checkbox"><label><input type="checkbox">团队</label></div>
           <div class="checkbox"><label><input type="checkbox">个人</label></div>
           </div>
           </div>
           <!-- <div class="feature">
           <div><span>需求</span></div>
           </div>
           <div class="rank">
           <div><span>排序</span></div>
           </div>-->
        </div>
        <div class="rightpanel">
            <div ng-controller="scanController">
            <div ng-view></div>
            </div>
        </div>
        </div>
</div>
<script>
	require(
			['angular', 'angular-route', 'angular-resource','ui-bootstrap'],
			function(angular,route,bootstrap) {
				var scanApp = angular.module('scanApp',['ngRoute','ngResource','ui.bootstrap']);
				
				scanApp.config(['$routeProvider',function($routeProvider){
					$routeProvider.when('/',{
						templateUrl:'scanproject-tpl',
						controller:'defaultCtl'
					}).when('/special-:specialId',{
						templateUrl:'scanproject-tpl',
						controller:'defaultCtl'
					}).when('/category-:categoryId',{
						templateUrl:'scanproject-tpl',
						controller:'categoryCtl'
					}).when('/category-:categoryId/:subcategoryId',{
						templateUrl:'scanproject-tpl',
						controller:'categoryCtl'
					}).otherwise({
						redirectTo:'/'
					});		
				}]);
				
				scanApp.controller('defaultCtl',function($scope,$routeParams, $resource){
					//TODO 获得数据
					//$scope.projects = projects;
					$scope.projectLoaded = false;
				    var Project = $resource(API + 'project');
					var projects = Project.query(function() {
							$scope.projects = projects;
							$scope.projectLoaded = true;
					});
				});
				
				scanApp.controller('categoryCtl',function($scope,$routeParams, $resource){
					//TODO 获得数据
					$scope.projectLoaded = false;
				    var Project = $resource(API + 'category/:categoryId/project');
					var projects = Project.query({categoryId: 2}, function() {
							$scope.projects = projects;
							$scope.projectLoaded = true;
					});
					$scope.page.index = 1;
				});
				var specialTitle = new Array("最热项目","最新项目","推荐项目");
				var categoryTitle = new Array("技术","设计","商业市场","校园创业","创意","公益","比赛");
				var subcategoryArrays= new Array(
						[{subcategoryId:1,name:"数据分析",href:"#category-1/1"},
						 {subcategoryId:2,name:"信息通信",href:"#category-1/2"},
						 {subcategoryId:3,name:"移动互联网",href:"#category-1/3"},
						 {subcategoryId:4,name:"智能硬件",href:"#category-1/4"},
						 {subcategoryId:5,name:"自动化",href:"#category-1/5"},
						 {subcategoryId:6,name:"网站开发",href:"#category-1/6"},
						 {subcategoryId:7,name:"软件开发",href:"#category-1/7"},
						 {subcategoryId:8,name:"其他",href:"#category-1/8"}],
						[{subcategoryId:9,name:"艺术设计",href:"#category-2/9"},
							 {subcategoryId:10,name:"交互设计",href:"#category-2/10"},
							 {subcategoryId:11,name:"网页设计",href:"#category-2/11"},
							 {subcategoryId:12,name:"动画设计",href:"#category-2/12"},
							 {subcategoryId:13,name:"建筑设计",href:"#category-2/13"},
							 {subcategoryId:14,name:"产品设计",href:"#category-2/14"},
							 {subcategoryId:15,name:"电子设计",href:"#category-2/15"},
							 {subcategoryId:16,name:"机械设计",href:"#category-2/16"},
							 {subcategoryId:17,name:"服装设计",href:"#category-2/17"},
							 {subcategoryId:18,name:"其他",href:"#category-2/18"}],
								[{subcategoryId:19,name:"营销策划",href:"#category-3/19"},
								 {subcategoryId:20,name:"广告创意",href:"#category-3/20"},
								 {subcategoryId:21,name:"创意视频",href:"#category-3/21"},
								 {subcategoryId:22,name:"其他",href:"#category-3/22"}],
								[{subcategoryId:23,name:"本地生活",href:"#category-4/23"},
								 {subcategoryId:24,name:"社交类",href:"#category-4/24"},
								 {subcategoryId:25,name:"技术创新",href:"#category-4/25"},
								 {subcategoryId:26,name:"服务类",href:"#category-4/26"},
								 {subcategoryId:27,name:"其他",href:"#category-4/27"}],
						[{subcategoryId:28,name:"志愿者活动",href:"#category-5/28"},
						 {subcategoryId:29,name:"爱的基金",href:"#category-5/29"},
						 {subcategoryId:30,name:"其他",href:"#category-5/30"}],
							[{subcategoryId:31,name:"创业比赛",href:"#category-6/31"},
							 {subcategoryId:32,name:"设计比赛",href:"#category-6/32"},
							 {subcategoryId:33,name:"技能比赛",href:"#category-6/33"},
							 {subcategoryId:34,name:"学科竞赛",href:"#category-6/34"},
							 {subcategoryId:35,name:"营销竞赛",href:"#category-6/35"},
							 {subcategoryId:36,name:"其他",href:"#category-6/36"}]
						);
				scanApp.controller("recomController",["$scope",'$resource',function($scope,$resource){
					//get recommendation projects
					$scope.recomProLoaded = false;
					var RecomProject = $resource(API + 'project');
					var recomProjects = RecomProject.query(function() {
							$scope.projects = recomProjects.slice($scope.recomdBatchStart,$scope.recomdBatchStart + 4);
							$scope.recomProLoaded = true;
					});
					
					$scope.recomdBatchStart = 1;
					$scope.hoverIn = function(){
					    this.hoverEdit = true;
					};

					$scope.hoverOut = function(){
					    this.hoverEdit = false;
					};
					
					$scope.change = function () {  
						//TODO 获取更多数据
					    $scope.recomdBatchStart =  ($scope.recomdBatchStart + 4) % recomProjects.length;
					    console.log($scope.recomdBatchStart);
					    if($scope.recomdBatchStart + 4 < recomProjects.length)
							$scope.projects = recomProjects.slice($scope.recomdBatchStart,$scope.recomdBatchStart + 4);
						else{
							$scope.projects = recomProjects.slice($scope.recomdBatchStart,recomProjects.length);
							$scope.projects = $scope.projects.concat(recomProjects.slice(0,($scope.recomdBatchStart + 4)%recomProjects.length));
						}
				   }
					
				}]);
				scanApp.controller("navController",["$scope",function($scope){
					$scope.categoryId = 1;
					$scope.subcategorys = subcategoryArrays[0];
					$scope.subcategoryId = subcategoryArrays[0][0].subcategoryId;
					location.href="#category-1/1";
					
					$scope.menuClick = function(categoryId){
						$scope.categoryId = categoryId;
						$scope.subcategorys = subcategoryArrays[categoryId-1];
						$scope.subcategoryId = subcategoryArrays[categoryId-1][0].subcategoryId;
					}
					$scope.submenuClick = function(subcategoryId){
						$scope.subcategoryId = subcategoryId;
					}
					$scope.newhotClick = function(newhot){
						$scope.isNewHot = newhot;
						$scope.subcategoryId = 0;
					}
					$scope.isActive = function(self, current){
						if(self == current)
							return true;
						else return false;
					}
				}]);
				scanApp.controller("scanController", ["$scope", function ($scope) {
					$scope.page = {
						    size: 8,
						    index: 1
				    };
					$scope.hoverIn = function(){
					    this.hoverEdit = true;
					};

					$scope.hoverOut = function(){
					    this.hoverEdit = false;
					};
					

				}]);
				scanApp.filter('size', function() {
					  return function (items) {
					    if (!items)
					      return 0;
					    return items.length || 0
					  }
			   });
			   scanApp.filter('paging', function() {
					 return function (items, index, pageSize) {
					    if (!items)
					      return [];
					    var offset = (index - 1) * pageSize;
					    return items.slice(offset, offset + pageSize);
					 }
			  });
			   scanApp.filter('defaultImg',function(){
				   return function(item){
					   if(item==null || item =="")
						   return "/img/market.png";
					   else return "http://api.tongjo.com/files/"+item;
				   }
			   });
			   scanApp.filter('defaultDescription',function(){
				   return function(item){
					   console.log("item:"+item);
					   if(item==null || item =="")
						   return "项目是指一系列独特的、复杂的并相互关联的活动，这些活动有着一个明确的目标或目的，必须在特定的时间、预算、资源限定内，依据规范完成";
					   else  return $($.parseHTML(item)).text();
					   
				   }
			   });
			   angular.bootstrap(document.getElementById("body"), [ 'scanApp' ]);
			});
</script>
{!/block!}