{!extends file='layout.html'!} {!block name=main!}

<div class="teamdetail" ng-controller="teamdetailControl">
	<div class="team-name">
		<h2 class="team-name-title">团队名称：</h2>
		<h1 class="team-name-name" ng-bind="teamdetail.name"></h1>
		<div class="team-add">
			<button class="btn btn-warning" ng-click="joinTeam()">
				<span class="glyphicon glyphicon-plus"></span> 加入这个团队
			</button>
		</div>
	</div>

	<div class="team-sum">
		<div class="team-count">
			<div class="team-count-current col-md-5">
				<h5 class="team-count-title">现有人数</h5>
				<h5 class="team-count-digital"
					ng-bind="teamdetail.members_count"></h5>
			</div>
			<span class="team-count-spilt col-md-2">|</span>
			<div class="team-count-sum col-md-5">
				<h5 class="team-count-title">共需人数</h5>
				<h5 class="team-count-digital" ng-bind="teamdetail.teammember_all"></h5>
			</div>
		</div>

		<div class="team-time">
			<span class="team-time-title">截止时间：</span> <span
				class="team-time-text" ng-bind="teamdetail.signup_time"></span>
		</div>
	</div>

	<div class="team-content">
		<div class="col-md-8 team-introduce">

			<h1 class="team-content-title">团队简介:</h1>
			<h5 class="team-content-text" ng-bind="teamdetail.description">我们是一个好团队，我们不怕困难，积极进取，一起开玩笑，一起玩，一起傻BI,一起逗比，一起哈哈哈，我们有爱，我们爱好和平，我们心底善良，赶紧加入我们把，美女越多越好呀，哈哈哈哈哈哈哈哈哈哈哈</h5>

		</div>

		<div class="col-md-4 team-leader">
			<h3 class="team-leader-title">关于队长：</h3>
			<h6 class="team-leader-name" ng-bind = "teamdetail.creator.realname" style="margin-left:6px"></h6> 
			<!-- <div class="team-leader-comments">
				<ul class="team-leader-star">
					<li>★</li>
					<li>★</li>
					<li>★</li>
					<li>★</li>
					<li>★</li>
				</ul>
				<h6 class="team-leader-starcount">5.0</h6>
				<h6 class="team-leader-commentscount">26条评论</h6>
			</div> -->

		</div>
	</div>

	<div class="clear"></div>

	<div class="team-teamer">

		<div class="team-share">
			<button class="btn btn-primary" ng-click="shareTeam()">
				分享给好友</button>
		</div>
		<div class="clear"></div>
		<table class="team-table">
			<thead class="bg-primary">
				<tr>
					<th>团队成员介绍</th>
					<th>大学</th>
					<th>专业</th>
					<th width="130px"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="member in teamdetail.members" ng-if="member.pivot.status=='permited'">
					<td><img src="/img/head.jpg" alt="*" class="smallhead"> <a
						class="text-primary" ng-bind="member.realname"
						href="userinfodetail!{{member.id}}">彭涛</a></td>
					<td>
						<h5 class="text-primary" ng-bind="member.school.name"></h5>
					</td>

					<td>
						<h5 class="text-primary" ng-bind="member.major.name">电子与信息工程学院</h5>
					</td>

					<td><a class="text-primary"
						href="userinfodetail!{{member.id}}">查看资料</a></td>
					</div>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" charset="utf-8"
	src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8"
	src="http://static.bshare.cn/b/bshareC0.js"></script>
	
<script type="text/javascript" src="/js/lib/jquery.zclip.js"></script>


<script>
	require([ 'angular', 'model/login', 'model/share', 'angular-route',
			'angular-resource' ],
			function(angular) {
				var app = angular.module('teamdetailApp', [ 'loginModal',
						'shareModal', 'ngRoute', 'ngResource' ]);
				app.controller('teamdetailControl', function($scope, $resource,
						loginService, shareService) {

					/* var url = window.location.href;
					var tid = url.substr(url.indexOf("!") + 1, url.length); */
					
					var tid = window.location.pathname.replace(/\/team\/(\d+)$/, '$1');
					
					console.log(tid);

					$scope.getteamdetail = function() {
						var Team = $resource(API + 'team/:teamId');
						var team = Team.get({
							teamId : tid
						}, function() {
							$scope.teamdetail = team;
							$scope.teamdetail.created_at = team.created_at
									.substr(0, 10);
							$scope.teamdetail.signup_time = team.signup_time
									.substr(0, 10);
							console.log($scope.teamdetail);
						});
					}

					$scope.getteamdetail();

					$scope.login = function() {
						loginService.showModal().then(function(isSuccess) {
							if (isSuccess)
								alert("登陆成功:");
							else
								alert("登陆失败:");
						});
					}

					var JTeam = $resource(API + 'team/:teamId/user');
					$scope.joinTeam = function() {
						var uid = localStorage.uid;
						/* console.log(uid); */

						if (uid == "undefined" || uid == null) {
							$scope.login();
						} else if (uid > 0) {
							var jt = new JTeam();

							jt.$save({
								teamId : tid,
								user_id : uid
							}, function(team) {
								console.log(team);
								if (team.error) {
									alert(team.msg);
								} else {
									alert("加入成功");
									$scope.getteamdetail();
								}

							});
						} else {
							$scope.login();
						}
					};

					$scope.shareTeam = function() {
						shareService.showModal();
					}

				});

				angular.bootstrap(document.getElementById("body"),
						[ 'teamdetailApp' ]);
			});
</script>


{!/block!}
