{!extends file='layout.html'!} {!block name=main!}

<div class="team-detail">
	<div class="team-name-pld">
		<h1 class="team-name-title">团队名称：</h1>
		<h1>我们是傻狗</h1>
	</div>

	<div class="team-count-old">
		<h5 class="team-count-title">团队人数：</h5>
		<h5>2/5</h5>
	</div>

	<div class="team-teamer-old">
		<h5 class="team-teamer-title">团队成员介绍：</h5>
		<table class="team-teamer-table">
			<tbody>
				<tr>
					<td>
						<div class="user">
							<img alt="240x160" src="img/cop.png">
						</div>
						<div class="user userdetail">
							<div class="userdetail-line">
								<h6>姓名：黄小吃</h6>
								<img alt=".." src="img/sex-femail.png" class="sex">
							</div>
							<div class="userdetail-line">
								<h6>LV:99</h6>
								<h6 class="secondh6">称号:大神</h6>
							</div>
							<div class="userdetail-line">
								<h6>大学:同济大学</h6>
							</div>
							<div class="userdetail-line">
								<h6>专业:嫁入计算机</h6>
							</div>
							<div class="userdetail-label">
								<h6>标签</h6>
							</div>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
						</div>
					</td>
					<td>
						<div class="user">
							<img alt="240x160" src="img/cop.png">
						</div>
						<div class="user userdetail">
							<div class="userdetail-line">
								<h6>姓名：黄小吃</h6>
								<img alt=".." src="img/sex-femail.png" class="sex">
							</div>
							<div class="userdetail-line">
								<h6>LV:99</h6>
								<h6 class="secondh6">称号:大神</h6>
							</div>
							<div class="userdetail-line">
								<h6>大学:同济大学</h6>
							</div>
							<div class="userdetail-line">
								<h6>专业:嫁入计算机</h6>
							</div>
							<div class="userdetail-label">
								<h6>标签</h6>
							</div>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
						</div>
					</td>

				</tr>
				<tr>
					<td>
						<div class="user">
							<img alt="240x160" src="img/cop.png">
						</div>
						<div class="user userdetail">
							<div class="userdetail-line">
								<h6>姓名：黄小吃</h6>
								<img alt=".." src="img/sex-femail.png" class="sex">
							</div>
							<div class="userdetail-line">
								<h6>LV:99</h6>
								<h6 class="secondh6">称号:大神</h6>
							</div>
							<div class="userdetail-line">
								<h6>大学:同济大学</h6>
							</div>
							<div class="userdetail-line">
								<h6>专业:嫁入计算机</h6>
							</div>
							<div class="userdetail-label">
								<h6>标签</h6>
							</div>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
						</div>
					</td>
					<td>
						<div class="user">
							<img alt="240x160" src="img/cop.png">
						</div>
						<div class="user userdetail">
							<div class="userdetail-line">
								<h6>姓名：黄小吃</h6>
								<img alt=".." src="img/sex-femail.png" class="sex">
							</div>
							<div class="userdetail-line">
								<h6>LV:99</h6>
								<h6 class="secondh6">称号:大神</h6>
							</div>
							<div class="userdetail-line">
								<h6>大学:同济大学</h6>
							</div>
							<div class="userdetail-line">
								<h6>专业:嫁入计算机</h6>
							</div>
							<div class="userdetail-label">
								<h6>标签</h6>
							</div>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
							<ul>
								<li><span class="rectangle"></span>平面设计</li>
								<li><span class="rectangle"></span>图标设计</li>
								<li><span class="rectangle"></span>宣传册设计</li>
							</ul>
						</div>
					</td>
				</tr>
		</table>
	</div>
	
	<div class="team-add-old">
		<button class="btn btn-warning">
			<span class="glyphicon glyphicon-plus"></span> 加入团队
		</button>
	</div>


</div>


{!/block!}
