{!extends file='layout.html'!} {!block name=main!}
<style>
.footer-fix {
	background-color: #f2f2f2;
}
</style>
<div class="teamdetail" ng-controller="teamdetailControl">

	<div class="container-fluid page-header">
		<img ng-src="/img/avatar.png" class="image">
		<div class="projectname">
			<h3 ng-bind="teamdetail.name"></h3>
			<div class="creator">
				<span>创建者</span><span style="margin-left: 10px"
					ng-bind="teamdetail.creator.realname"></span>
			</div>
		</div>

		<a class="btn btn-default" ng-click="joinTeam()"> 加入团队 </a>
	</div>

	<div class="container-fluid"
		style="padding-left: 0px; padding-right: 0px">
		<div class="col-md-9 left-panel">
			<div class="nav stick">
				<ul>
					<li role="presentation" ng-class="{'active': isActive(0)}"
						ng-click="setCurTab(0)"><a href="#des">团 队 介 绍</a></li>
					<li role="presentation" ng-class="{'active': isActive(1)}"
						ng-click="setCurTab(1)"><a href="#member">已 有 团
							员({{teamdetail.members.length}})</a></li>
				</ul>
			</div>
			<div class="tab" ng-class="{'isdisplay': isActive(0)}" id="des" style="padding-top:45px">
				<div class="detail-title">
					<h3>[团队描述]</h3>
					<div class="detail" ng-bind="teamdetail.description"></div>
				</div>
				
			</div>

			<div class="tab" ng-class="{'isdisplay': isActive(1)}" id="member" style="padding-top:45px">
				<table class="table team-table">
					<thead style="border">
						<tr>
							<th class="first">姓名</th>
							<th>大学</th>
							<th>专业</th>
							<th width="130px" class="last">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="member in teamdetail.members"
							ng-show="member.pivot.status=='permited'">
							<td class="first"><img src="/img/head.jpg"
								ng-src="//api.tongjo.com/files/{{member.avatar}}" alt="*"
								class="smallhead"> <a class="text-primary"
								ng-bind="member.realname" href="/userinfodetail/{{member.id}}"></a></td>
							<td>
								<h5 class="text-primary" ng-bind="member.school.name"></h5>
							</td>

							<td>
								<h5 class="text-primary" ng-bind="member.major.name"></h5>
							</td>

							<td class="last"><a class="text-primary"
								href="/userinfodetail/{{member.id}}">查看资料</a></td>
							</div>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="col-md-3 right-panel">
			<div class="panel creator">
				<img ng-src="http://api.tongjo.com/files/{{teamdetail.creator.avatar}}"
					href="/userinfodetail/{{project.creator.id}}" class="image">
				<div class="creator-name">
					<h3>
						发布者 <a href="/userinfodetail/{{teamdetail.creator.id}}"
							ng-bind="teamdetail.creator.realname"></a>
					</h3>
					<p>同济大学 <span ng-show="teamdetail.creator.campus_id == 2">嘉定</span>
					&nbsp;<span ng-show="teamdetail.creator.campus_id == 1">本部</span></p>
					<p>lv.<span ng-bind="teamdetail.creator.degree"></span>&nbsp&nbsp;<span ng-bind="teamdetail.creator.honor"></span></p>
				</div>
			</div>

			<div class="panel create-time">

				<h3>
					团队创建时间&nbsp&nbsp<span ng-bind="teamdetail.created_at"></span>
				</h3>
				<h3>
					团员平均等级&nbsp&nbsp<span>lv.</span><span ng-bind="teamdetail.average"></span>
				</h3>
			</div>

			<div class="panel time">
				<div class="leave">
					<span ng-bind="teamdetail.daysmsg"></span><span class="day"
						ng-bind="teamdetail.opendays"></span>天
				</div>
				<div class="open" ng-show="teamdetail.is_open">报名开放</div>
				<div class="open" ng-show="!teamdetail.is_open">报名关闭</div>
			</div>
			
			<div class="panel share">
				<button class="btn btn-primary" ng-click="shareTeam()">
				分享给好友</button>
			</div>
			
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8"
	src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8"
	src="http://static.bshare.cn/b/bshareC0.js"></script>
	
<script type="text/javascript" src="/js/lib/jquery.zclip.js"></script>

<script src="/js/lib/stickUp.min.js"></script>
<script type="text/javascript">
	//initiating jQuery
	jQuery(function($) {
		$(document).ready(function() {
			//enabling stickUp on the '.navbar-wrapper' class
			$('.stick').stickUp();
		});
	});
</script>


<script>
	require([ 'angular','Auth', 'model/login', 'model/share', 'angular-route',
			'angular-resource' ],
			function(angular) {
				var app = angular.module('teamdetailApp', [ 'loginModal',
						'shareModal', 'ngRoute', 'ngResource' ]);
				app.controller('teamdetailControl', function($scope, $resource,
						loginService, shareService) {
					
					$scope.selectedTab = 0;
					$scope.setCurTab = function(selectedTab){
						$scope.selectedTab = selectedTab;				
					}
					$scope.isActive = function(current){
						if(current == $scope.selectedTab)
							return true;
						else return false;
					}
					
					var tid = window.location.pathname.replace(/\/team\/(\d+)$/, '$1');
					
					console.log(tid);

					$scope.getteamdetail = function() { 
						var Team = $resource(API + 'team/:teamId');
						var team = Team.get({
							teamId : tid
						}, function() {
							$scope.teamdetail = team;
							$scope.teamdetail.created_at = team.created_at
									.substr(0, 10);
							$scope.teamdetail.signup_time = team.signup_time
									.substr(0, 10);
							$scope.teamdetail.creator.honor = $scope.getdegree($scope.teamdetail.creator.degree);
							
							var dateNow= new Date();
							var dateDeadline = new Date($scope.teamdetail.signup_time);
							var openTime=dateDeadline.getTime() - dateNow.getTime();
							$scope.teamdetail.opendays = Math.floor(openTime/(24*3600*1000));
							if( $scope.teamdetail.opendays < 0){
								$scope.teamdetail.daysmsg = "过期";
								$scope.teamdetail.is_open = false;
								$scope.teamdetail.opendays = -$scope.teamdetail.opendays;
							}
							else {
								$scope.teamdetail.daysmsg = "剩余";
								$scope.teamdetail.is_open = true;
							}
							//0为报名关闭
							if($scope.teamdetail.is_signup = 0){
								$scope.teamdetail.is_open = false;
							}
							
							$scope.teamdetail.average = $scope.getaverage();
							
							console.log($scope.teamdetail);
							
						});
					}

					$scope.getteamdetail();
					
					$scope.getaverage = function(){
						var degree = 0;
						for(var i = 0;i<$scope.teamdetail.members.length;i ++){
							degree = degree+$scope.teamdetail.members[i].degree;
						}
						return degree/$scope.teamdetail.members.length; 
					}

					$scope.login = function() {
						loginService.showModal().then(function(isSuccess) {
							if (isSuccess)
								alert("登陆成功:");
							else
								alert("登陆失败:");
						});
					}

					$scope.getdegree = function(degree){
						if (degree < 10) {
							return "菜鸟";
						} else if (degree < 40) {
							return "中级";
						} else {
							return "大神";
						}
					}
					
					var JTeam = $resource(API + 'team/:teamId/user');
					$scope.joinTeam = function() {
						Auth.check();
						var uid = localStorage.uid;
						/* console.log(uid); */

						if (uid == "undefined" || uid == null) {
							$scope.login();
						} else if (uid > 0) {
							var jt = new JTeam();

							jt.$save({
								teamId : tid,
								user_id : uid
							}, function(team) {
								console.log(team);
								if (team.error) {
									alert(team.msg);
								} else {
									alert("加入成功");
									$scope.getteamdetail();
								}

							});
						} else {
							$scope.login();
						}
					};

					$scope.shareTeam = function() {
						shareService.showModal();
					}

				});

				angular.bootstrap(document.getElementById("body"),
						[ 'teamdetailApp' ]);
			});
</script>


{!/block!}
