{!extends file='layout.html'!} {!block name=main!}

<div class="userinfodetail">
	<div class="col-md-4">
		<div class="leftbar">
			<div class="userhead">
				<img alt="240x160" src="img/head.jpg" class="headImage">
				<div class="isOnline">
					<p class="text">在 线</p>
				</div>
			</div>

			<div class="contract">
				<div class="btn btn-info mbtn">
					<div class="innerbutton">联系我吧</div>
				</div>
			</div>
			
			<div class="friend-comments-title">
				<h6>好友印象</h6>
			</div>
			<ul>
				<li class="friend-comments-detail">
					<h5>黄小吃</h5>
					<h6>黄小吃是大美女</h6>
				</li>
				
				<li class="friend-comments-detail">
					<h5>黄小吃</h5>
					<h6>黄小吃是大美女</h6>
				</li>
				
				<li class="friend-comments-detail">
					<h5>黄小吃</h5>
					<h6>黄小吃是大美女</h6>
				</li>
			</ul>
		</div>


	</div>
	<div class="col-md-8">

		<div class="userdetail">

			<div class="userdetail-title">
				<h1>黄小吃</h1>
			</div>

			<div class="userdetail-line">
				<h6>姓名：黄小吃</h6>
				<img alt=".." src="img/sex-femail.png" class="sex">
			</div>
			<div class="userdetail-line">
				<h6>LV:99</h6>
				<h6 class="secondh6">称号:大神</h6>
			</div>
			<div class="userdetail-line">
				<h6>大学:同济大学</h6>
			</div>
			<div class="userdetail-line">
				<h6>专业:嫁入计算机</h6>
			</div>
			<div class="userdetail-label">
				<h6>感兴趣的学术标签</h6>
			</div>
			<ul>
				<li><span class="rectangle"></span>平面设计</li>
				<li><span class="rectangle"></span>图标设计</li>
				<li><span class="rectangle"></span>宣传册设计</li>
			</ul>

			<ul>
				<li><span class="rectangle"></span>平面设计</li>
				<li><span class="rectangle"></span>图标设计</li>
				<li><span class="rectangle"></span>宣传册设计</li>
			</ul>

			<div class="clear"></div>
			<div class="userdetail-label">
				<h6>共同标签（3）</h6>
			</div>
			<ul>
				<li><span class="rectangle"></span>平面设计</li>
				<li><span class="rectangle"></span>图标设计</li>
				<li><span class="rectangle"></span>宣传册设计</li>
			</ul>
		</div>

		<div class="userproject">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="mactive"><a href="#">已参加项目</a></li>
				<li role="presentation"><a href="#">已发布项目</a></li>
			</ul>

			<div class="projectitem">
				<div class="projectitem-title">
					<h4>项目名称</h4>
					<h6 class="time">2015年01月01日</h6>
					<h6 class="time deadtime">结束-6天12小时</h6>
				</div>
				<div class="projectitem-content">
					<img alt="100*100" src="img/head.jpg" class="headimg">
					<div class="detail">
						<img src="img/dialog.png" class="background">
						<p class="detailtext">我们都是好孩子异想天开的孩子 相信爱 可以永远啊 我们都是好孩子 最最善良的孩子 怀念着 伤害我们的 推开窗看天边白色的鸟 想起你薄荷味的笑 那时你在操场上奔跑 大声喊 我爱你
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

</div>

{!/block!}
