{!extends file='layout.html'!} {!block name=main!}

<div class="userinfodetail container-fluid">
	<div class="col-md-4">
		<div class="leftbar">
			<div class="userhead">
				<img alt="240x160" src="img/head.jpg" class="headImage">
				<div class="isOnline">
					<p class="text">在 线</p>
				</div>
			</div>

			<div class="contract">
				<div class="btn btn-info mbtn">
					<div class="innerbutton">联系我吧</div>
				</div>
			</div>

			<div class="friend-comments-title">
				<h6>好友印象</h6>
			</div>
			<ul>
				<li class="friend-comments-detail">
					<h5>黄小吃</h5>
					<h6>黄小吃是大美女</h6>
				</li>

				<li class="friend-comments-detail">
					<h5>黄小吃</h5>
					<h6>黄小吃是大美女</h6>
				</li>

				<li class="friend-comments-detail">
					<h5>黄小吃</h5>
					<h6>黄小吃是大美女</h6>
				</li>
			</ul>
		</div>


	</div>
	<div class="col-md-8">

		<div class="userdetail" ng-controller="userdetailControl">

			<div class="userdetail-title">
				<h1 ng-bind="userinfo.name"></h1>
			</div>

			<div class="userdetail-line">
				<h6>姓名：</h6>
				<h6 ng-bind="userinfo.name"></h6>
				<img alt=".." ng-src="{{getseximg(userinfo.sex)}}" class="sex">
			</div>
			<div class="userdetail-line">
				<h6>LV：</h6>
				<h6 ng-bind="userinfo.degree"></h6>
				<h6 class="secondh6">称号:</h6>
				<h6 ng-bind="userinfo.honor"></h6>
			</div>
			<div class="userdetail-line">
				<h6>大学:</h6>
				<h6 ng-bind="userinfo.university">同济大学</h6>
			</div>
			<div class="userdetail-line">
				<h6>专业:</h6>
				<h6 ng-bind="userinfo.professional"></h6>
			</div>
			<div class="userdetail-label">
				<h6>感兴趣的学术标签</h6>
			</div>
			<ul >
				<li ng-repeat="label in userinfo.userlabels"><span class="rectangle{{$index}}" ></span>{{label}}</li>
			</ul>

			<div class="clear"></div>
			<div class="userdetail-label">
				<h6>共同标签（3）</h6>
			</div>
			<ul >
				<li ng-repeat="label in userinfo.commonlabels"><span class="rectangle{{$index}}"></span>平面设计</li>
			</ul>
		</div>

		<div class="userproject" ng-controller="userprojectControl">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="mactive"><a href="#">已参加项目</a></li>
				<li role="presentation"><a href="#">已发布项目</a></li>
			</ul>

			<div class="projectitem" ng-repeat="project in projects">
				<div class="projectitem-title">
					<h4 ng-bind="project.name"></h4>
					<h6 class="time" ng-bind="project.time">2015年01月01日</h6>
					<h6 class="time deadtime">结束-6天12小时</h6>
				</div>
				<div class="projectitem-content">
					<img alt="100*100" src="img/head.jpg" class="headimg">
					<div class="detail">
						<img src="img/dialog.png" class="background">
						<p class="detailtext" ng-bind="project.detail"></p>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

<script>
	require([ 'angular', 'angular-route', 'angular-resource' ], function(
			angular) {
		var app = angular.module('userinfoApp', [ 'ngRoute', 'ngResource' ]);
		app.controller('userdetailControl', function($scope,$resource) {
			
			var User = $resource(API + 'user/:userId');
			var user = User.get({
				userId: 1
			}, function() {
				console.log(user);
			});
			
			$scope.userinfo = {
				"name" : "黄小吃",
				"sex":"0",
				"degree" : "990",
				"honor" : "大神的大神",
				"university" : "同济大学黄渡理工学院",
				"professional" : "计算机科学与技术",
				"userlabels":["吃货","学习","平面设计","网站设计","Photoshop"],
				"commonlabels":["吃货","学习","平面设计","网站设计","Photoshop"],
			};
			
			$scope.getseximg = function($sex){
				 if($sex==0){
					 return "img/sex-femail.png";
				 }else if($sex==1){
					 return "img/sex-man.png";
				 }else{
					 return "img/sex-man.png";
				 }
			};
		});
		
		
		app.controller('userprojectControl', function($scope,$resource) {
			
			var Project = $resource(API + 'project/:projectId');
			var project = Project.get({
				projectId: 1
			}, function() {
				console.log(project);
			});
			
			
			$scope.projects = [{
				"name" : "我是一个项目名称哈哈哈",
				"time":"2015-02-78",
				"detail" : "我们都是好孩子异想天开的孩子 相信爱 可以永远啊 我们都是好孩子 最最善良的孩子怀念着 伤害我们的 推开窗看天边白色的鸟 想起你薄荷味的笑 那时你在操场上奔跑 大声喊 我爱你",
				},
				{
					"name" : "黄小吃",
					"time":"2015-02-78",
					"detail" : "我们都是好孩子异想天开的孩子 相信爱 可以永远啊 我们都是好孩子 最最善良的孩子怀念着 伤害我们的 推开窗看天边白色的鸟 想起你薄荷味的笑 那时你在操场上奔跑 大声喊 我爱你",
					},
				];
		}); 
		
		angular.bootstrap(document.getElementById("body"), [ 'userinfoApp' ]);
	});
</script>

{!/block!}
