.project-list{
	h3{
		line-height: 2em;
	}
	h4{
		text-align: center;
	}
	
}
.btn-transparent{
	background:rgba(255, 255, 255, 0.8) none;
	filter:Alpha(opacity=80); background:#fff;
	border:solid 1px #fff;
	border-radius:4px;
	&:hover{
		border:solid 1px #bbb;
	}
}
		