{!extends file='layout.html'!} {!block name=main!}
<link href="/lib/bootstrap-datepicker/datepicker3.css" rel="stylesheet">
<link rel="stylesheet"
	href="/lib/umeditor/themes/default/css/umeditor.css">
<script>
	
</script>
<style>
.form-group>label {
	line-height: 2em;
	font-size: 20px;
}

.form-group h4 {
	line-height: 2em;
}
</style>
<script>
	require(['angular', 'angular-resource'], function(angular) {
		var app = angular.module('me', ['ngResource']);
		app.controller('createform', function($scope, $resource) {
			var Project = $resource(API + 'project');
			var um = UM.getEditor('dsc', {
				autoFloatEnabled: false
			});
			var getCates = function(){
				var cates = [];
				for(var i in $scope.cates){
					var cate = $scope.cates[i].children;
					for(var j in cate){
						if(cate[j].select){
							cates.push(cate[j]);
						}
					}
				}
				$scope.selcates = cates;
				return cates;
			}
			$scope.create = function(project) {
				project.dsc = um.getContent();
				p = new Project(project);
				var categorys = getCates();
				p.categorys = [];
				for(var i in categorys){
					p.categorys.push(categorys[i].id);
				}
				p.parttype = 0;
				p.parttype += $scope.parttype.idd?1:0;
				p.parttype += $scope.parttype.team?2:0;
				p.$save();
				location.href="/project!1";
			};
			var Cate = $resource(API + 'category');
			$scope.cates = Cate.query();
			$scope.select = function($event, cate){
				var checkbox = $event.target;
				cate.select = checkbox.checked?true:false;
				getCates();
			}
			
			
		});
		angular.bootstrap(document.getElementById("body"), ['me']);
	})
</script>
<div class="page-header">
	<h2>发布项目</h2>
</div>
<form id="createforsm" name="createform" ng-controller="createform">

	<div class="form-group">
		<label>项目名称</label> <input type="text" class="form-control"
			ng-model="project.name" required>
	</div>
	<div class="form-group">
		<label>预计完成时间</label>
		<div>
			<input data-provide="datepicker" class="form-control"
				ng-model="project.deadline" required data-date-format="yyyy/mm/dd">
		</div>
	</div>
	<div class="form-group">
		<label>选择项目分类来源</label>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="idd" checked> 个人
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="cmp"> 赛事
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="rsc"> 科研课题
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="optionsRadios"
				ng-model="project.type" value="crs"> 企业研究
			</label>
		</div>
	</div>
	<div class="form-group">
		<label>选择项目标签</label>
		<div>
			<span ng-repeat="cate in selcates" style="margin-right: 20px">{{cate.name}}</span>
			<a class="btn btn-success" data-toggle="modal" data-target="#myModal">添加标签</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">选择项目标签</h4>
						</div>
						<div class="modal-body">
							<dl ng-repeat="cate in cates">
								<dt>{{cate.name}}</dt>
								<dd ng-repeat="c in cate.children"><input type="checkbox" ng-click="select($event, c)"> {{c.name}}</dd>
							</dl>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关 闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label>项目描述</label>
		<script id="dsc" name="dsc" type="text/plain"
			style="width: 100%; height: 200px;">
</script>

	</div>
	<div class="form-group">
		<label>报名方式</label>
		<div class="checkbox">
			<label> <input type="checkbox" name="parttype" value="idd" required
				ng-model="parttype.idd"> 个人
			</label>
		</div>
		<div class="checkbox">
			<label> <input type="checkbox" name="parttype" value="team" required
				ng-model="parttype.team"> 团队
			</label>
		</div>
	</div>

	<div class="form-group">
		<a class="btn btn-success btn-lg" ng-click="create(project)"
			ng-disabled="createform.$invalid">发布项目</a>
	</div>
</form>

<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<script type="text/javascript" src="/lib/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/lib/umeditor/lang/zh-cn/zh-cn.js"></script>
{!/block!}
