{!extends file='layout.html'!} {!block name=main!}
<link href="/lib/bootstrap-datepicker/datepicker3.css" rel="stylesheet">
<link rel="stylesheet"
	href="/lib/umeditor/themes/default/css/umeditor.css">

<script src="http://open.web.meitu.com/sources/xiuxiu.js"
	type="text/javascript"></script>

<div ng-controller="createform">
	<div class="page-header create-header">
		<ul class="create">
			<li role="presentation"><a class="complete"
				ng-class="{'complete_select':isselect(2)}" ng-click="setCurTab(2)">完成</a></li>
			<li role="presentation"><a class="next"
				ng-class="{'next_select': isselect(1)}"  ng-click="setCurTab(1)">报名设置</a></li>
			<li role="presentation"><a class="next"
				ng-class="{'next_select': isselect(0)}" ng-click="setCurTab(0)">项目信息</a></li>
		</ul>
	</div>

	<form id="createforsm" name="createform" class="create-body">
		<div class="tab container" ng-class="{'active': isselect(0)}">
			<div class="col-md-7" style="padding-left: 0px;">
				<table >
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">项目名称</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><input
							type="text" class="form-control textinput" name="projectname" placeholder="项目名称不能为空"
							ng-model="project.name" required></td>
					</tr>
				</table>

				<table >
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">项目来源</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><label
							class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="0"
								ng-checked="true"> 个人
						</label> <label class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="1">
								赛事
						</label> <label class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="2">
								科研课题
						</label> <label class="radio-inline"> <input type="radio"
								name="optionsRadios" ng-model="project.type" value="3">
								企业研究
						</label></td>
					</tr>
				</table>

				<table ng-hide="project.type==0"
					style="margin-top: 10px">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title"
							ng-bind="label"></label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><input
							type="text" ng-model="project.sponsor" class="form-control"
							ng-required="project.type!=0"></td>
					</tr>
				</table>

				<div style="margin-top: 50px;">
					<label class="title">项目分类</label>
					<div>
						<span ng-repeat="cate in selcates" style="margin-left: 20px;"
							ng-bind="cate.name"></span> <a class="mbtn" data-toggle="modal"
							data-target="#cateModal" ng-if="selcates.length<1">添加分类 ></a>
							<a class="mbtn" data-toggle="modal"
							data-target="#cateModal" ng-if="selcates.length>0">编辑分类 ></a>
							<div class="modal fade info" id="cateModal">
							<div class="modal-dialog">
								<div class="modal-content tagmodal">
									<div class="modal-header"
										style="padding-top: 8px; padding-bottom: 8px; border-bottom: 0px;">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">×</span> <span class="sr-only">Close</span>
										</button>
										<h5 class="title">已选择分类：</h5>
										<ul class="nav nav-pills selecttag">
											<li ng-repeat="tag in selcates">
												<div class="rectangle" ng-bind="tag.name"></div>
												<div class="ex-toleft"></div>
												<button type="button" class="close delete"
													ng-click="delcate($index)">
													<span aria-hidden="true"
														style="color: #ff0000; font-size: 16px">×</span>
												</button>
											</li>
										</ul>
										
										<p style="color:#ff0000;padding-left:20px;padding-bottom:0px;padding-top:0px;font-size:12px" ng-show="selcates.length>4">提示：最多只能选择五个项目分类</p>
										
									</div>

									<div class="modal-body">
										<div class="container-fluid tagbody">
											<div class="col-md-3" style="padding-left: 0px">
												<ul class="nav nav-pills nav-stacked lefttree">
													<li ng-repeat="cate in cates"
														ng-class="{'active': isActive(cate.id)}"><a
														ng-bind="cate.name" ng-click="setid(cate.id)"></a></li>
												</ul>
											</div>

											<div class="col-md-9">
												<ul class="nav nav-pills nav-stacked righttree"
													ng-repeat="cate in cates" ng-if="cate.id==curid">
													<li class="outerli">
														<ul class="nav nav-pills">
															<li ng-repeat="c in cate.children"
																ng-click="selectcate(c)"><a ng-bind="c.name"></a></li>
														</ul>
													</li>
												</ul>
											</div>

										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-sm"
											ng-click="addtags()" data-dismiss="modal">完成</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="col-md-5"
				style="padding-right: 0px;">
				<div class="form-group">
					<div class="me-avataredit">
						<div class="sys_projectimg" >
							<div class="p_img">
								<a data-toggle="modal"
									data-target="#imgModal"> <img alt="55x55"
									ng-src="{{'http://api.tongjo.com/files/'+projectimg || '/img/avatar.png'}}">
									<h3>点击修改项目图片</h3>
								</a>
							</div>

						</div>
						<div class="modal fade" id="imgModal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
										</button>
										<h4 class="modal-title">添加项目图片</h4>
									</div>
									<div class="modal-body">
										<div class="mcontainer">
											<div class="container-fluid" id="imageid"></div>

										</div>
									</div>
									
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

			<div style="clear: both"></div>

			<div class="form-group" style="margin-top:20px">
				<label>项目描述</label>
				<script id="dsc" name="dsc" type="text/plain"
					style="width: 910px; height: 200px;">
</script>

			</div>
			
			<div style="margin-top: 50px;text-align:center">
				<button class="btn btn-next" ng-click="setCurTab(1)" ng-disabled="createform.projectname.$invalid">下 一 步</button>
			</div>
			
		</div>
 		
 		<div style="clear: both"></div>
		<div class="tab container" ng-class="{'active': isselect(1)}">
			<div class="col-md-6 col-md-offset-3" style="margin-top:20px">
				<table>
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">报名方式</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><label
							class="radio-inline radiolabel" ><input type="radio" name="parttype"
								value="0" required ng-model="project.parttype">
								个人 </label> <label class="radio-inline radiolabel"><input type="radio"
								name="parttype" value="1" required ng-model="project.parttype">
								团队 </label> <label class="radio-inline radiolabel"> <input type="radio"
								name="parttype" value="2" required ng-model="project.parttype">
								个人或团队
						</label></td>
					</tr>
				</table>

				<table style="margin-top:30px;">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">是否开启报名审核功能</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><label
							class="radio-inline radiolabel" ><input type="radio" name="opentype"
								value="1" required ng-model="project.is_open"> 开启 </label> <label
							class="radio-inline radiolabel"><input type="radio" name="opentype"
								value="0" required ng-model="project.is_open"> 关闭 </label></td>
					</tr>
				</table>

				<div style="margin-top: 30px;">
					<label class="title">选择技能需求标签</label>
					<div>
						<span ng-repeat="tag in projecttag" style="margin-left: 20px"
							ng-bind="tag.name"></span> <a class="mbtn"
							data-toggle="modal" data-target="#tagModal" ng-if="projecttag.length<1">添加技能标签 ></a>
							<a class="mbtn"
							data-toggle="modal" data-target="#tagModal" ng-if="projecttag.length>0">编辑技能标签 ></a>
						<div class="modal fade info" id="tagModal">
							<div class="modal-dialog">
								<div class="modal-content tagmodal">
									<div class="modal-header"
										style="padding-top: 8px; padding-bottom: 8px; border-bottom: 0px;">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">×</span> <span class="sr-only">Close</span>
										</button>
										<h5 class="title">已选择标签：</h5>
										<ul class="nav nav-pills selecttag">
											<li ng-repeat="tag in selecttag">
												<div class="rectangle" ng-bind="tag.name"></div>
												<div class="ex-toleft"></div>
												<button type="button" class="close delete"
													ng-click="del($index)">
													<span aria-hidden="true"
														style="color: #ff0000; font-size: 16px">×</span>
												</button>
											</li>
										</ul>
										
										<p style="color:#ff0000;padding-left:20px;padding-bottom:0px;padding-top:0px;font-size:12px" ng-show="selecttag.length>4">提示：最多只能选择五个技能标签</p>
									</div>

									<div class="modal-body">
										<!-- 主体 -->
										<div class="container-fluid tagbody">
											<div class="col-md-3" style="padding-left: 0px">
												<ul class="nav nav-pills nav-stacked lefttree">
													<li ng-repeat="tag in tags"
														ng-class="{'active': isActive(tag.id)}"><a
														ng-bind="tag.name" ng-click="setid(tag.id)"></a></li>
												</ul>
											</div>

											<div class="col-md-9">
												<ul class="nav nav-pills nav-stacked righttree"
													ng-repeat="tag in tags" ng-if="tag.id==curid">
													<li class="outerli" ng-repeat="tag2 in tag.children">
														<h5 ng-bind="tag2.name"></h5>
														<ul class="nav nav-pills">
															<li ng-repeat="tag3 in tag2.children"
																ng-click="select(tag3)"><a ng-bind="tag3.name"></a></li>
														</ul>
													</li>
												</ul>
											</div>

										</div>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-default btn-sm"
											ng-click="addtags()" data-dismiss="modal">完成</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<table style="margin-top:30px;">
					<tr>
						<td width="10%" nowrap="nowrap"><label class="title">报名截止时间</label></td>
						<td style="padding-left: 14px; padding-right: 14px;"><input data-provide="datepicker" class="form-control datepicker"
							ng-model="project.deadline" required style="padding-left:14px;padding-right:14px" placeholder="报名截止日期不能为空"
							data-date-format="yyyy-mm-dd" autoclose="true" name="deadtime"></td>
					</tr>
				</table>

				<div style="margin-top: 50px; text-align: center">
					<button class="btn btn-next" ng-click="setCurTab(0)">上 一 步</button>
					<button class="btn btn-next" ng-click="setCurTab(2)" style="margin-left:60px" ng-disabled="createform.deadtime.$invalid">下 一 步</button>
				</div>
			</div>
		</div>

		<div style="clear: both"></div>
		<div class="tab" ng-class="{'active': isselect(2)}">
			<div class="form-group" style="text-align:center">
				<img class="complete" src="/img/complete.png">
			</div>
			<div style="margin-top: 30px; text-align: center">
					<button class="btn btn-next" ng-click="setCurTab(1)">上 一 步</button>
					<button class="btn btn-next" ng-click="create()"
					ng-disabled="createform.$invalid || iscontentempty" style="margin-left:60px">发 布 项 目</button>
			</div>
			<div style="margin-top: 20px; text-align: center">
				<p style="color:#bbb">点击“发布项目”，表示您已经阅读并同意</p><p style="color:#bbb">用户协议以及隐私策略</p>
			</div>
			<div style="margin-top: 20px; text-align: center">
				<p
					style="color: #ff0000; padding-left: 20px; padding-bottom: 0px; padding-top: 0px; font-size: 12px"
					ng-show="createform.projectname.$invalid">温馨提示：请先填写项目名称，填完才能发布</p>
				<p
					style="color: #ff0000; padding-left: 20px; padding-bottom: 0px; padding-top: 0px; font-size: 12px"
					ng-show="iscontentempty && !createform.projectname.$invalid">温馨提示：项目详细内容不能为空，填完才能发布</p>
				<p
					style="color: #ff0000; padding-left: 20px; padding-bottom: 0px; padding-top: 0px; font-size: 12px"
					ng-show="createform.deadtime.$invalid && !iscontentempty && !createform.projectname.$invalid">温馨提示：项目截止日期不能为空，请先填写</p>
			</div>
		</div>

	</form>
</div>
<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>

<script type="text/javascript" src="/js/lib/ImageCropper.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/lib/umeditor/lang/zh-cn/zh-cn.js"></script>
<script>
	require([ 'angular', 'angular-resource' ],function(angular) {
			var app = angular.module('mec', [ 'ngResource' ]);
			app.controller(
			'createform',
			function($scope, $resource) {
				$('.datepicker').datepicker({
					startDate : '1d',
					autoclose : true,
					language : 'zh-CN',
				});
				var Project = $resource(API + 'project');
				var um = UM.getEditor('dsc', {
					autoFloatEnabled : false
				});
				var getCates = function() {
					var cates = [];
					for ( var i in $scope.cates) {
						var cate = $scope.cates[i].children;
						for ( var j in cate) {
							if (cate[j].select) {
								cates.push(cate[j]);
							}
						}
					}
					$scope.selcates = cates;
					return cates;
				}
				
				$scope.selcates = new Array();
				
				$scope.project = new Project;
				$scope.project.type = 0;
				$scope.project.parttype = 2;
				$scope.project.is_open = 1;
				$scope.create = function() {
					$scope.project.description = um
							.getContent();
					var categorys = getCates();
					$scope.project.categorys = [];
					for ( var i in categorys) {
						$scope.project.categorys
								.push(categorys[i].id);
					}
					$scope.project.user_id = localStorage.uid;
					$scope.project.image = $scope.projectimg;
					$scope.project.$save(function() {
						if($scope.project.id && $scope.project.id>0){
							$scope.addProjecttags($scope.project.id);
							location.href = "/project/"
								+ $scope.project.id;
						}
						
					});

				};
				var Cate = $resource(API + 'category');
				$scope.cates = Cate.query();
/* <<<<<<< HEAD
				$scope.selectcate = function($event, cate) {
					var checkbox = $event.target;
					cate.select = checkbox.checked ? true
							: false; */

				$scope.selectcate = function(cate) {
					if($scope.selcates.length == 5) {
						return;
					}
					cate.select = true;
					getCates();
				}
				$scope.delcate = function(index) {
					$scope.selcates[index].select = false;
					$scope.selcates.remove(index);

				};
				$scope.$watch('project.type',
						function(type) {
							switch (type) {
							case '1':
								$scope.label = "组织机构";
								break;
							case '2':
								$scope.label = "所属学校";
								break;
							case '3':
								$scope.label = "所属企业";
								break;
							default:
								break;
							}
						});

				$r = Math.round(Math.random()*6);
				$scope.projectimg = 'sysproject/p'+$r+'.jpg';
				//true代表显示图片，false代表显示图片操作
				$scope.status = true;

				$scope.setstatus = function() {
					$scope.status = false;
				}

				/* 以下为弹出框部分 */
				$scope.selecttag = new Array();
				$scope.projecttag = new Array();

				var Tag = $resource(API + 'tag?tree=1');
				$scope.gettags = function() {
					var tags = Tag.query(null, function() {
						$scope.tags = tags;
						$scope.curid = tags[0].id;
						/* console.log(tags); */
					});
				}

				$scope.gettags();

				$scope.curid = 0;
				$scope.setid = function(id) {
					$scope.curid = id;
				}

				$scope.del = function(index) {
					$scope.selecttag.remove(index);
				};

				$scope.select = function(tag3) {
					if($scope.selecttag.length > 4){
						return;
					}
					var isRepeat = false;
					for ( var i = 0; i < $scope.selecttag.length; i++) {
						if ($scope.selecttag[i].id == tag3.id) {
							isRepeat = true;
						}
					}
					if (!isRepeat) {
						$scope.selecttag.push(tag3);
					}
				};

				/*上传项目对应的标签 */
				var TagPivotAdd = $resource(API + 'project/:project_id/tag/:tag_id/pivot');
				$scope.addProjecttags = function(project) {
					for(var i=0;i < $scope.selecttag.length;i++){
						/* alert(i); */
						var t = new TagPivotAdd();
						t.$save({
							project_id: project,
							tag_id: $scope.selecttag[i].id
						},function(tag){ 
				            /* console.log(tag); */
				            /* $scope.getUsertags();  */
				        });
					}
				};
				
				$scope.isActive = function(index) {
					if ($scope.curid == index) {
						return true;
					}
					return false;
				}

				$scope.addtags = function() {
					$scope.projecttag = $scope.selecttag;
				};

				Array.prototype.remove = function(dx) {
					if (isNaN(dx) || dx > this.length) {
						return false;
					}
					for ( var i = 0, n = 0; i < this.length; i++) {
						if (this[i] != this[dx]) {
							this[n++] = this[i]
						}
					}
					this.length -= 1
				}

				$scope.iscontentempty = true;
				/* 用于标签页切换 */
				$scope.currenttab = 0;
				$scope.setCurTab = function(index) {
					$scope.currenttab = index;
					if($scope.currenttab == 2){
						$scope.project.description = um.getContent();
						if($scope.project.description == "undefined" || $scope.project.description == "" || $scope.project.description == null){
							$scope.iscontentempty = true;
						}else{
							$scope.iscontentempty = false; 
						}
					}
				};

				$scope.isselect = function(index) {
					if (index == $scope.currenttab) {
						return true;
					} else {
						return false;
					}
				};

				$scope.initmeitu = function() {
					/* 设置不预览 */
					/* xiuxiu.setLaunchVars("avatarPreview", {visible : false}); */
					/* 设置取消拍照 */
					xiuxiu.setLaunchVars("cameraEnabled",0);
					/* 取消左边菜单 */
					xiuxiu.setLaunchVars("customMenu", []);
					/* 设置裁剪的数值 */
					xiuxiu.setLaunchVars("cropPresets", "300x300");

					xiuxiu.embedSWF("imageid", 5, "100%","100%");
					//修改为您自己的图片上传接口
					xiuxiu.setUploadURL("http://api.tongjo.com/image");
					xiuxiu.setUploadType(1);
					xiuxiu.setUploadDataFieldName("image");
					xiuxiu.onInit = function() {
						xiuxiu.loadPhoto("http://api.tongjo.com/files/"+$scope.projectimg);
					}
					xiuxiu.onUploadResponse = function(data) {
						var d = JSON.parse(data);
						if (d.hasOwnProperty("file")) {
							$scope.$apply(function(){
								$scope.projectimg = d.file;
							})
							$scope.hidedialog();
							alert("图片保存成功");
						} else {
							alert("图片上传失败:" + data);
						}
					}
				}

				$scope.initmeitu();
				
				$scope.hidedialog = function(){
					$('#tagModal').modal('hide');
				}; 

			});

			angular.bootstrap(document.getElementById("body"), [ 'mec' ]);
		})
</script>

{!/block!}
