{!extends file='layout.html'!} {!block name=main!}
<link href="/lib/bootstrap-datepicker/datepicker3.css" rel="stylesheet">
<link rel="stylesheet"
	href="/lib/umeditor/themes/default/css/umeditor.css">
<div class="page-header">
	<h2>发布项目</h2>
</div>
<form id="createforsm" name="createform" ng-controller="createform">

	<div class="form-group">
		<label>项目名称</label> <input type="text" class="form-control"
			ng-model="project.name" required>
	</div>
	<div class="form-group">
		<label>报名截止时间</label>
		<div style="z-index: 999">
			<input data-provide="datepicker" class="form-control datepicker"
				ng-model="project.deadline" required data-date-format="yyyy-mm-dd"
				autoclose="true">
		</div>
	</div>
	<div class="form-group">
		<label style="display: block">选择项目分类来源</label> <label
			class="radio-inline"> <input type="radio"
			name="optionsRadios" ng-model="project.type" value="0"
			ng-checked="true"> 个人
		</label> <label class="radio-inline"> <input type="radio"
			name="optionsRadios" ng-model="project.type" value="1"> 赛事
		</label> <label class="radio-inline"> <input type="radio"
			name="optionsRadios" ng-model="project.type" value="2"> 科研课题
		</label> <label class="radio-inline"> <input type="radio"
			name="optionsRadios" ng-model="project.type" value="3"> 企业研究
		</label>
	</div>
	<div class="form-group" ng-hide="project.type==0">
		<label ng-bind="label"></label> <input type="text"
			ng-model="project.sponsor" class="form-control"
			ng-required="project.type!=0">
	</div>
	<div class="form-group">
		<label>选择项目标签</label>
		<div>
			<span ng-repeat="cate in selcates" style="margin-right: 20px"
				ng-bind="cate.name"></span> <a class="btn btn-success"
				data-toggle="modal" data-target="#myModal">添加标签</a>
			<div class="modal fade" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title">选择项目标签</h4>
						</div>
						<div class="modal-body">
							<dl ng-repeat="cate in cates">
								<dt ng-bind="cate.name"></dt>
								<dd ng-repeat="c in cate.children">
									<input type="checkbox" ng-click="select($event, c)">
									{{c.name}}
								</dd>
							</dl>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关 闭</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label>选择技能标签</label>
		<div>
			<span ng-repeat="tag in projecttag" style="margin-right: 20px"
				ng-bind="tag.name"></span> <a class="btn btn-success"
				data-toggle="modal" data-target="#tagModal">添加技能标签</a>
			<div class="modal fade info" id="tagModal">
				<div class="modal-dialog">
					<div class="modal-content tagmodal">
						<div class="modal-header"
							style="padding-top: 8px; padding-bottom: 8px; border-bottom: 0px;">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span> <span class="sr-only">Close</span>
							</button>
							<h5 class="title">已选择标签：</h5>
							<ul class="nav nav-pills selecttag">
								<li ng-repeat="tag in selecttag">
									<div class="rectangle" ng-bind="tag.name"></div>
									<div class="ex-toleft"></div>
									<button type="button" class="close delete"
										ng-click="del($index)">
										<span aria-hidden="true"
											style="color: #ff0000; font-size: 16px">×</span>
									</button>
								</li>
							</ul>
						</div>

						<div class="modal-body">
							<!-- 主体 -->
							<div class="container-fluid tagbody">
								<div class="col-md-3" style="padding-left: 0px">
									<ul class="nav nav-pills nav-stacked lefttree">
										<li ng-repeat="tag in tags"
											ng-class="{'active': isActive(tag.id)}"><a
											ng-bind="tag.name" ng-click="setid(tag.id)"></a></li>
									</ul>
								</div>

								<div class="col-md-9">
									<ul class="nav nav-pills nav-stacked righttree"
										ng-repeat="tag in tags" ng-if="tag.id==curid">
										<li class="outerli" ng-repeat="tag2 in tag.children">
											<h5 ng-bind="tag2.name"></h5>
											<ul class="nav nav-pills">
												<li ng-repeat="tag3 in tag2.children"
													ng-click="select(tag3)"><a ng-bind="tag3.name"></a></li>
											</ul>
										</li>
									</ul>
								</div>

							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-sm"
								ng-click="addtags()" data-dismiss="modal">完成</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="form-group">
		<label>项目描述</label>
		<script id="dsc" name="dsc" type="text/plain"
			style="width: 100%; height: 200px;">
</script>

	</div>

	<div class="form-group">
		<label>报名方式</label>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="0"
				required ng-model="project.parttype"> 个人
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="1"
				required ng-model="project.parttype"> 团队
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="2"
				required ng-model="project.parttype"> 个人或团队
			</label>
		</div>
	</div>
	<div class="form-group">
		<label>开启报名</label>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="1"
				required ng-model="project.is_open"> 开启
			</label>
		</div>
		<div class="radio">
			<label> <input type="radio" name="parttype" value="0"
				required ng-model="project.is_open"> 关闭
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="me-avataredit ">
			<label>项目图片</label>
			<div class="sys_projectimg" ng-show="status">
				<div class="p_img">
					<a ng-click="setstatus()"> <img alt="55x55"
						ng-src="{{'http://api.tongjo.com/files/'+projectimg || '/img/avatar.png'}}">
						<h3>点击修改项目图片</h3>
					</a>
				</div>

			</div>

			<div class="mcontainer" ginger_software_stylesheet="true"
				ginger_software_doc="true" ng-show="!status">
				<div class="container-fluid">
					<a class="selectBtn" href="javascript:void(0);"
						onclick="document.getElementById(&#39;input&#39;).click();"></a> <a
						class="saveBtn" href="javascript:void(0);" ng-click="saveImage();"></a>
					<input type="file" fileread="uploadme" id="input" size="10"
						style="visibility: hidden;" accept="image/*" />

					<div class="wrapper">
						<canvas id="cropper" class="cropper" width="300" height="300"></canvas>
						<a class="rotateLeftBtn" href="javascript:void(0);"
							onclick="rotateImage(event);">LeftRotate</a> <a
							class="rotateRightBtn" href="javascript:void(0);"
							onclick="rotateImage(event);">RightRotate</a>

						<div class="previewContainer">
							<canvas class="preview140 preview" id="preview140" width="140"
								height="140"></canvas>
							<span
								style="display: block; width: 100%; padding-top: 5px; text-align: center;">large:140x140</span>

							<canvas class="preview50 preview" id="preview50" width="50"
								height="50" style="position: absolute; left: 50px; top: 220px;"></canvas>
							<span
								style="position: absolute; left: 45px; top: 280px; width: 70px; text-align: center;">small:50x50</span>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="form-group">
		<a class="btn btn-success btn-lg" ng-click="create()"
			ng-disabled="createform.$invalid">发布项目</a>
	</div>
</form>

<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/lib/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>

<script type="text/javascript" src="/js/lib/ImageCropper.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="/lib/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="/lib/umeditor/lang/zh-cn/zh-cn.js"></script>
<script>
	require(['angular', 'angular-resource'], function(angular) {
		var app = angular.module('mec', ['ngResource']);
		app.controller('createform', function($scope, $resource) {
			$('.datepicker').datepicker({
				startDate: '1d',
				autoclose: true,
				language: 'zh-CN',
			});
			var Project = $resource(API + 'project');
			var um = UM.getEditor('dsc', {
				autoFloatEnabled: false
			});
			var getCates = function() {
				var cates = [];
				for ( var i in $scope.cates) {
					var cate = $scope.cates[i].children;
					for ( var j in cate) {
						if (cate[j].select) {
							cates.push(cate[j]);
						}
					}
				}
				$scope.selcates = cates;
				return cates;
			}
			$scope.project = new Project;
			$scope.project.type = 0;
			$scope.create = function() {
				$scope.project.description = um.getContent();
				var categorys = getCates();
				$scope.project.categorys = [];
				for ( var i in categorys) {
					$scope.project.categorys.push(categorys[i].id);
				}
				$scope.project.user_id = localStorage.uid;
				$scope.project.image = $scope.projectimg;
				$scope.project.$save(function() {
					location.href = "/project/" + $scope.project.id;
				});

			};
			var Cate = $resource(API + 'category');
			$scope.cates = Cate.query();
			$scope.select = function($event, cate) {
				var checkbox = $event.target;
				cate.select = checkbox.checked ? true : false;
				getCates();
			}
			$scope.$watch('project.type', function(type) {
				switch (type) {
				case '1':
					$scope.label = "组织机构";
					break;
				case '2':
					$scope.label = "所属学校";
					break;
				case '3':
					$scope.label = "所属企业";
					break;
				default:
					break;
				}
			});
			
			$scope.projectimg = 'sysproject/p1.png';
			//true代表显示图片，false代表显示图片操作
			$scope.status = true;
			
			$scope.setstatus = function(){
				$scope.status = false;
			}
			
			var cropper;
			$scope.init = function() {
				cropper = new ImageCropper(300, 300, 180, 180);
				cropper.setCanvas("cropper");
				cropper.addPreview("preview140");
				cropper.addPreview("preview50");

				if (!cropper.isAvaiable()) {
					alert("Sorry, your browser doesn't support FileReader, please use Firefox3.6+ or Chrome10+ to run it.");
				}
			};

			$scope.init();

			$scope.$watch('uploadme',
			function(to, from) {
				console.log($scope.uploadme);
				if ($scope.uploadme != "undefined" && $scope.uploadme != null) cropper.loadImage($scope.uploadme);
			});

			$scope.rotateImage = function(e) {
				switch (e.target.id) {
				case "rotateLeftBtn":
					cropper.rotate( - 90);
					break;
				case "rotateRightBtn":
					cropper.rotate(90);
					break;
				}
			};

			$scope.saveImage = function() {
				var file140 = document.getElementById("preview140");
				var file50 = document.getElementById("preview50");

				if (file140.toDataURL() != "undefined") {
					var uid = localStorage.uid;
					if (uid > 0) {
						var url = API + "image";
						$.post(url, {
							"image": file140.toDataURL(),
						},
						function(data) {
							
							if (data.file) {
								 $scope.$apply(function () {
									 $scope.projectimg=data.file;
									 $scope.status = true;
							    }); 
								console.log($scope.project);
							}else{
								alert("图片上传失败");
							}
						},
						"json")
					} else {
						alert("用户没有登陆");
					}
				} else {
					alert("请先设置图片");
				}
			};

			$scope.trace = function() {
				if (typeof(console) != "undefined") console.log(Array.prototype.slice.apply(arguments).join(" "));
			};
			
			/* 以下为弹出框部分 */
			$scope.selecttag =  new Array();
			$scope.projecttag =  new Array();
			
			var Tag = $resource(API + 'tag?tree=1');
			$scope.gettags = function(){
				var tags = Tag.query(null, function() {
					$scope.tags = tags;
					$scope.curid = tags[0].id;
					/* console.log(tags); */
				});
			}
			
			$scope.gettags();
			
			$scope.curid = 0;
			$scope.setid = function(id){
				$scope.curid = id;
			} 

			$scope.del = function(index) {
				$scope.selecttag.remove(index);
			};
			
			$scope.select = function(tag3) {
				var isRepeat = false;
				for(var i=0;i < $scope.selecttag.length;i++){
					if($scope.selecttag[i].id == tag3.id){
						isRepeat = true;
					}
				}
				if(!isRepeat){
					$scope.selecttag.push(tag3);
				}
			};
			
			$scope.isActive=function(index){
				if($scope.curid == index){
					return true;
				}
				return false;
			}
			
			$scope.addtags = function() {
				$scope.projecttag=$scope.selecttag;
			};
			
			Array.prototype.remove=function(dx) 
			{ 
			    if(isNaN(dx)||dx>this.length){return false;} 
			    for(var i=0,n=0;i<this.length;i++) 
			    { 
			        if(this[i]!=this[dx]) 
			        { 
			            this[n++]=this[i] 
			        } 
			    } 
			    this.length-=1 
			}
			

		});
		
		app.directive("fileread", [function() {
			return {
				scope: {
					fileread: "="
				},

				link: function(scope, element, attributes) {
					element.bind("change",
					function(changeEvent) {
						var reader = new FileReader();
						reader.onload = function(loadEvent) {

							scope.$apply(function() {
								scope.fileread = changeEvent.target.files[0];
								// or all selected files:
								// scope.fileread = changeEvent.target.files;
							});
						}
						reader.readAsDataURL(changeEvent.target.files[0]);
					});
				}
			}
		}]);
		
		angular.bootstrap(document.getElementById("body"), ['mec']);
	})
</script>

{!/block!}
